@model Gateway.Web.Models.Schedule.Input.ScheduleBatchModel

@using (@Html.BeginForm("AssignToGroup", "BatchSchedule", FormMethod.Post, new {id = "Form-" + @Model.Group}))
{
    @Html.HiddenFor(m => @Model.Group)
    <div class="row">
        <div class="col-sm-4">
            @Html.DropDownListFor(m => Model.ConfigurationIdList, Model.Types, new {@multiple = "true", @name = "ConfigurationId", @class = "form-control", @style = "height: 218px;"})
        </div>
        <div class="col-sm-8">
            @Html.TextAreaFor(m => Model.TradeSources, new {@rows = "10", @name = "TradeSources", Placeholder = "The trade source configuration.\n\nCan be either:\n- Site(s) name\n- Portfolio Id(s)\n- Counterparty Id(s)\n- Serialized trade dto's (persisted/what-if calculation)\n\nFor each item in the list a seperate workflow is started. On re-running a user can choose which (or all) trade source to trigger.", @class = "form-control"})
        </div>
    </div>
    <div class="row m-t-15">
        <div class="col-sm-12">
            <button type="submit" class="btn btn-default pull-right" style="margin: 0 !important" id="assign-button">Assign to Group</button>
            <a class="btn btn-link pull-right m-r-5" href="#view-tab-@Model.Group" data-toggle="tab">Cancel</a>
        </div>
    </div>
}
