@using Gateway.Web.Utils
@model Gateway.Web.Models.Schedule.Output.ScheduleGroup

<div class="row" style="padding-left: 15px; padding-right: 15px;">
    @if (Model.Tasks.Any())
    {
        <table class="batch-table" style="width: 100%; border: none !important;">
            @foreach (var item in Model.Tasks)
            {
                <tr class="batch-schedule-container" style="padding: 20px !important;" data-tt-branch="@item.HasChildren" data-tt-id="@item.ScheduleId" data-tt-parent-id="@item.ParentId">
                    <td style="width: 7%;">
                        @if (item.IsEnabled)
                        {
                            @Html.CheckBox("select-" + item.ScheduleKey, new { @class = "select-schedule select-schedule-" + @Model.GroupId, @data_id = item.ScheduleId})
                        }
                        else
                        {
                            @Html.CheckBox("select-" + item.ScheduleKey, new { disabled = true })
                        }
                    </td>
                    <td style="width: 73%;">
                        @if (!item.IsEnabled)
                        {
                            <span class="label label-default" style="padding: 2px !important;">@item.Type - DISABLED</span>
                        }
                        else if (item.Type.ToLower() == "request")
                        {
                            <span class="label label-danger" style="padding: 2px !important;">@item.Type</span>
                        }
                        else if (item.Type.ToLower() == "executable")
                        {
                            <span class="label label-warning" style="padding: 2px !important;">@item.Type</span>
                        }
                        else
                        {
                            <span class="label label-info" style="padding: 2px !important;">@item.Type</span>
                        }

                        @if (item.IsEnabled)
                        {
                            <span class="m-l-5" style="margin-top: 2px" id="@item.Key">
                                @item.Name.Truncate(100)
                            </span>
                        }
                        else
                        {
                            <span class="m-l-5" style="margin-top: 2px; color: darkgray" id="@item.Key">
                                @item.Name.Truncate(100)
                            </span>
                        }
                    </td>
                    <td style="width: 20%;">
                        <div class="btn-group btn-group-xs pull-right">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Actions
                            </button>
                            <ul class="dropdown-menu">
                                @if (item.IsEnabled)
                                {
                                    <li>
                                        <a href="~/Schedule/@item.Type/Update/@item.ScheduleId">Edit</a>
                                    </li>
                                }

                                @if (!item.IsEnabled)
                                {
                                    <li>
                                        @if (item.IsBatch)
                                        {
                                            <a href="~/Schedule/Batch/@item.ScheduleId/Enable">Enable</a>
                                        }
                                        @if (item.IsExe)
                                        {
                                            <a href="~/Schedule/Executable/@item.ScheduleId/Enable">Enable</a>
                                        }
                                        else
                                        {
                                            <a href="~/Schedule/Request/@item.ScheduleId/Enable">Enable</a>
                                        }
                                    </li>
                                }
                                @if (item.IsEnabled)
                                {
                                    <li role="separator" class="divider"></li>
                                    <li>
                                        <a href="~/Schedule/@item.ScheduleId/Disable">Disable</a>
                                    </li>
                                    <li>
                                        <a href="~/Schedule/Delete/Bulk/Confirmation?items=@item.ScheduleId">Delete</a>
                                    </li>
                                }
                            </ul>
                        </div>

                    </td>
                </tr>
            }
        </table>
    }
    else
    {
        <div class="col-sm-12 text-center">
            There are no tasks assigned to this group.<br/>
        </div>
    }
</div>