@using Gateway.Web.Database
@using Gateway.Web.Models
@using Gateway.Web.Models.Controller
@using Gateway.Web.Models.Request
@using Gateway.Web.Utils
@using Newtonsoft.Json
@using Version = Gateway.Web.Models.Controller.Version
@{
    Layout = "~/Views/Shared/_Layout.NoFooter.cshtml";
    ViewBag.Title = "Request";
    ViewBag.Current = "Payloads";
}
@{ Html.RenderPartial("_RequestNav", (Payloads)@Model); }

<div id="page-content-wrapper">
    <div class="hero-unit">

        <h3 class="text-lowercase">Payloads</h3>
        @foreach (PayloadModel payload in Model.Items)
        {
            <br />
            <h4>
                @payload.Direction
                @if (payload.Id != 0)
                {
                    if (payload.IsCube)
                    {
                        @Html.ActionLink(" ", "DownloadCube", "Request", new { correlationId = Model.CorrelationId, payloadId = payload.Id }, new { @class = "glyphicon glyphicon-download hoverlink", title = "Download cube" })
                        @Html.ActionLink(" ", "ViewCube", "Request", new { correlationId = Model.CorrelationId, payloadId = payload.Id }, new { @class = "glyphicon glyphicon-fullscreen hoverlink", title = "View cube", target = "_blank" })
                    }
                    else if (payload.ContainsCubeResult)
                    {
                        @Html.ActionLink(" ", "Download", "Request", new { correlationId = Model.CorrelationId, payloadId = payload.Id }, new { @class = "glyphicon glyphicon-download hoverlink", title = "Download converted payload" })
                        @Html.ActionLink(" ", "ExtractCube", "Request", new { correlationId = Model.CorrelationId, payloadId = payload.Id }, new { @class = "glyphicon glyphicon-fullscreen hoverlink", title = "View cube", target = "_blank" })
                    }
                    else
                    {
                        @Html.ActionLink(" ", "Download", "Request", new { correlationId = Model.CorrelationId, payloadId = payload.Id }, new { @class = "glyphicon glyphicon-download hoverlink", title = "Download converted payload" })
                    }
                }
            </h4>
            if (payload.ContainsXmlResult)
            {
                <small><i>xml payloads may be sorted on download for convenience</i></small>
            }
            if (payload.IsCube)
            {
                <pre style="height: 280px; width: 100%">@Html.Raw(@payload.Data)</pre>
            }
            else
            {
                <pre style="height: 280px; width: 100%" class="prewrap">@payload.Data</pre>
            }
            <br />
        }
    </div>
</div>
