@using Gateway.Web.Database
@using Gateway.Web.Models
@using Gateway.Web.Models.Controller
@using Gateway.Web.Models.Request
@using Gateway.Web.Utils
@using Newtonsoft.Json
@using Version = Gateway.Web.Models.Controller.Version
@{
    Layout = "~/Views/Shared/_Layout.NoFooter.cshtml";
    ViewBag.Title = "Request";
    ViewBag.Current = "Summary";
    var title = (string)Model.ParentCorrelationId.ToString();
}
@{ Html.RenderPartial("_RequestNav", (Summary)@Model); }

<div id="page-content-wrapper">
    <div class="hero-unit">

        <h3 class="text-lowercase">Summary</h3>

        <table style="width: 100%; white-space: nowrap" class="datatable">
            <tr>
                <td class="columnheader" style="width: 10%">Controller</td>
                <td style="width: 40%">@Model.Controller</td>
                <td class="columnheader" style="width: 10%">Version</td>
                <td style="width: 40%">@Model.Version</td>
            </tr>
            <tr>
                <td class="columnheader">Start Utc</td>
                <td>@Model.StartUtc</td>
                <td class="columnheader">End Utc</td>
                <td>
                    @if (!Model.IsBusy)
                    {
                        @Model.EndUtc
                    }
                </td>
            </tr>
            <tr>
                <td class="columnheader">Queue Time ms</td>
                <td>@Model.QueueTimeMs</td>
                <td class="columnheader">Time Taken ms</td>
                <td>@Model.TimeTakenMs</td>
            </tr>
            <tr>
                <td class="columnheader">User</td>
                <td>@Model.User</td>
                <td class="columnheader">Ip Address</td>
                <td>@Model.IpAddress</td>
            </tr>
            <tr>
                <td class="columnheader">Correlation Id</td>
                <td style="max-width: 200px; overflow: hidden; text-overflow: ellipsis;">@Model.CorrelationId</td>
                <td class="columnheader">Parent Correlation Id</td>
                <td style="max-width: 200px; overflow: hidden; text-overflow: ellipsis;">
                    @if (Model.ParentCorrelationId != Guid.Empty)
                    {
                        @Html.ActionLink(title, "Summary", "Request", new { correlationId = Model.ParentCorrelationId }, new { @class = "hoverlink" })
                    }
                </td>
            </tr>
            <tr>
                <td class="columnheader">Resource</td>
                <td style="max-width: 200px; overflow: hidden; text-overflow: ellipsis;">@Model.Resource</td>
                <td class="columnheader">Request Type</td>
                <td>@Model.RequestType</td>
            </tr>
            <tr>
                <td class="columnheader">Priority</td>
                <td>@Model.Priority</td>
                <td class="columnheader">Is Async</td>
                <td>@Model.IsAsync</td>
            </tr>
            <tr>
                <td class="columnheader">Wall Clock Time</td>
                <td>@Model.WallClockTime</td>
                <td class="columnheader"></td>
                <td></td>
            </tr>
        </table>

        @if (Model.IsBusy)
        {
            <br />
            <h3>Actions</h3>
            <br />
            @Html.ActionLink("Cancel Work Item", "Cancel", "Request", new { correlationId = Model.CorrelationId }, new { @class = "hoverlink" })
            <br />
        }

        @if (!Model.IsBusy)
        {
            <br />
            <h3 class="text-lowercase">Result</h3>
            <table style="width: 100%; white-space: nowrap" class="datatable">
                <thead>
                    <tr>
                        <td style="width: 5%">Code</td>
                        <td style="width: 95%">Message</td>
                    </tr>
                </thead>
                <tr>
                    <td>@Model.ResultCode</td>
                    <td style="word-wrap: break-word">@Model.ResultMessage</td>
                </tr>
            </table>
            <br />
        }

        @if (Model.HasChildren)
        {
            <br />

            <h3 class="text-lowercase">Child Requests</h3>

            <table style="width: 100%; white-space: nowrap" class="datatable">
                <thead>
                <tr>
                    <!--TODO: Click through to child requests-->
                    <td>Controller</td>
                    <td>Requests</td>
                    <td>Successful</td>
                    <td>Items</td>
                    <td>Min Start</td>
                    <td>Max End</td>
                </tr>
                </thead>
                @foreach (DetailRow row in Model.Items)
                {
                    <tr>
                        <td>@row.Controller</td>
                        <td>@row.RequestCount</td>
                        <td>
                            <a href="@Url.Action("Children", "Request", new { correlationId = Model.CorrelationId, filter = row.Controller })" class="hoverlink">
                                (@row.SuccessfulCount / @row.CompletedCount)
                            </a>
                        </td>
                        <td>@row.Size @row.SizeUnit</td>
                        <td>@row.MinStart</td>
                        <td>@row.MaxEnd</td>
                    </tr>
                }
            </table>
        }
    </div>
</div>
