@using Gateway.Web.Helpers
@using Gateway.Web.Models.Request

@model Timings
@{
    Layout = "~/Views/Shared/_Layout.NoFooter.cshtml";
    ViewBag.Title = "Request";
    ViewBag.Current = "Timing";
}
@{ Html.RenderPartial("_RequestNav", (MessageHierarchy)@Model.Root); }
<div id="page-content-wrapper">

    @{
        var rowBackgroundStyle = "div_row_white";
        var requestIsSuccessful = Model.Root.Successful == "true" ? "" : "none";
        var showError = Model.Root.Successful == "true" ? "none" : "";
    }
    <div class="hero-unit">
        <div class="container-fluid">

            <h3 class="row text-lowercase">Timing</h3>
            <div class="row h5">All timings relating to original request (@Model.Root.CorrelationId)</div>
            <br />
            <div class="row alert alert-danger" style="display: @showError">The request was unsuccessful</div>
            <h4 class="row">Summary</h4>
            <table style="width: 50%; white-space: nowrap;" class="row datatable">
                <tr>
                    <td class="columnheader">Wall Clock</td>
                    <td>@Model.WallClock</td>
                </tr>
                <tr>
                    <td class="columnheader">Total Time:</td>
                    <td>@Model.TotalTime</td>
                </tr>
            </table>
            <br />
            <h4 class="row">Controller Summaries</h4>
            <table style="width: 100%; white-space: nowrap;" class="row datatable">
                <thead>
                    <tr>
                        <td class="">Controller</td>
                        <td class=""># of Call(s)</td>
                        <td class="">Total Queue Time</td>
                        <td class="">Total Process Time</td>
                        <td class="">Total Response Size</td>
                    </tr>
                </thead>
                @foreach (var summary in Model.ControllerSummaries)
                {
                <tr>
                    <td>@summary.Controller</td>
                    <td>@summary.CallCount</td>
                    <td>@summary.PrettyTotalQueueTime</td>
                    <td>@summary.PrettyTotalProcessingTime</td>
                    <td>@summary.PrettyTotalResponseSize</td>
                </tr>
                }
            </table>

            <br />

            <div class="treeview">

                <h4 class="row">Requests</h4>

                <div class="row div_row_head">
                    <div class="col-md-3">Controller</div>
                    <div class="col-md-3">Unit</div>
                    <div class="col-md-6">Timing</div>
                </div>

                @(Html.TreeView(Model.Items)
                      .EmptyContent("No requests returned!")
                      .Children(m => m.ChildRequests)
                      .ChildrenHtmlAttributes(new { @class = "subItem" })
                      .ItemText(m => m.Controller)
                      .ItemTemplate(
                @<text>
                    @{
                        var showLabelsBefore = (item.QueueTime < 10 || item.ProcessingTime < 10) && item.StartTime > 50;
                        var showLabelsAfter = (item.QueueTime < 10 || item.ProcessingTime < 10) && !showLabelsBefore;
                        rowBackgroundStyle = rowBackgroundStyle == "div_row_grey" ? "div_row_white" : "div_row_grey";
                        var successful = item.Successful == "true" ? "glyphicon glyphicon-ok text-success" : "glyphicon glyphicon-remove text-danger";
                    }
                    <div class="row @rowBackgroundStyle" style="vertical-align: text-top">

                        <div class="col-md-1 @successful"></div>
                        <div class="col-md-2">
                            <a href="~/Request/Timings/@item.CorrelationId" class="hoverlink">@item.Controller</a>
                        </div>

                        <div class="col-md-2">@item.Size&nbsp;@item.SizeUnit</div>

                        <div class="col-md-6 progress" style="height: 14px; margin-bottom: 0; border-radius: 0; box-shadow: none; -webkit-box-shadow: none; background-color: inherit;">

                            <div class="progress-bar progress-bar-none" role="progressbar" aria-valnow="(@item.StartTimeMs)" aria-valmin="0" aria-valmax="(@Model.TotalTimeMs)" style="width: @(item.StartTime)%">
                                @if (showLabelsBefore)
                                {
                                    <small class="pre-progress-bar">@(item.QueueTimeMs)ms / @(item.ProcessingTimeMs)ms</small>
                                }
                            </div>

                            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valnow="(@item.QueueTimeMs)" aria-valmin="0" aria-valmax="(@Model.TotalTimeMs)" style="width: @(item.QueueTime)%">
                                @if (!showLabelsAfter && !showLabelsBefore)
                                {
                                    <small>@(item.QueueTimeMs)ms</small>
                                }
                            </div>

                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valnow="(@item.ProcessingTimeMs)" aria-valmin="0" aria-valmax="(@Model.TotalTimeMs)" style="width: @(item.ProcessingTime)%">
                                @if (!showLabelsAfter && !showLabelsBefore)
                                {
                                    <small>@(item.ProcessingTimeMs)ms</small>
                                }
                            </div>

                            @if (showLabelsAfter)
                            {
                                <small class="post-progress-bar">@(item.QueueTimeMs)ms / @(item.ProcessingTimeMs)ms</small>
                            }
                        </div>

                    </div>
                </text>)
                )
            </div>

        </div>
    </div>

</div>
