@using System.Xml.Schema
@using Gateway.Web.Models
@using Gateway.Web.Models.DataFeeds
@{
    Layout = "~/Views/Shared/_Layout.NoFooter.cshtml";
    ViewBag.Title = "All DataFeeds";
    ViewBag.Current = "Dashboard";
}
@{ Html.RenderPartial("_DataFeedNav"); }
<style>
    .Error {
        border-color :red;
        background-color:lightcoral;
        border-style: solid;
        border-width: 1px 1px 1px 1px;
    }
</style>
<script>
    function HasDetail(headerId) {
        if (headerId == 0) {
            toastr.options = {
                "positionClass": "toast-bottom-center",
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }
            toastr.info('This data feed has no detail to be displayed.', 'Info');
            return false;
        } else
            return true;

    }
</script>
<div id="page-content-wrapper">
    <div class="hero-unit">
        <h3>All DataFeeds</h3>

        <div class="row">
            <div class="col-sm-12">
                <div id="paginator" data-current-date="@Model.BusinessDate.ToString("yyyy-MM-dd")"></div>
            </div>
        </div>

        <br style="clear:both" />
        <div class="containerx bulk">
            @foreach (var controller in Model.DataFeeds)
            {
                <a onclick="return HasDetail(@controller.HeaderId)" href="~/DataFeed/DashboardDetail/@controller.HeaderId?businessDate=@Model.BusinessDate.ToString("yyyy-MM-dd")">
                    <div class="widget @controller.Status" title="@controller.Name">
                        <div class="content">
                            <div class="list-head clearfix" style="color:black">
                                <table>
                                    <tr>
                                        <td><img src="@Url.Content(MvcApplication.ControllerIcon)" alt="" class="avatar" /></td>
                                        <td style="width: 200px; overflow: hidden; text-overflow: ellipsis;">
                                            <h3 style="margin: 0 40px 0 5px;">
                                                @controller.Name
                                            </h3>
                                        </td>
                                    </tr>
                                </table>
                                <br />
                                <div style="float: left;">
                                    <table style="min-width: 200px; padding: 10px;align-content:left">
                                        <tr>
                                            <td colspan="2">
                                                <span class="glyphicon glyphicon-log-in" style="color: green"></span>&nbsp;&nbsp;@controller.DataFeedName
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width: 100px">
                                                <span class="glyphicon glyphicon-adjust" style="color: red"></span>&nbsp;&nbsp;Status
                                            </td>
                                            <td>@controller.Status</td>
                                        </tr>
                                        <tr>
                                            <td style="width: 100px">
                                                <span class="glyphicon glyphicon-time" style="color: black"></span>&nbsp;&nbsp;Duration
                                            </td>
                                            <td>@controller.Duration</td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <span style="color:Red"></span>&nbsp;&nbsp;<u>Message</u>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <span></span>&nbsp;&nbsp;  @controller.Message
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            }
        </div>
        <br />
    </div>
</div>