@using System.Xml.Schema
@using Gateway.Web.Models
@using Gateway.Web.Models.Controllers
@model Gateway.Web.Models.Batches.BatchConfigList

@{
    Layout = "~/Views/Shared/_Layout.NoFooter.cshtml";
    ViewBag.Current = "Batch";
    ViewBag.Title = "Configuration";
}
@{ Html.RenderPartial("_BatchConfigNav"); }

<div id="page-content-wrapper">
    <div class="hero-unit">

        <div class="row">
            <div class="col-sm-6">
                <h3 class="text-lowercase">Batch Configuration</h3>
            </div>
            <div class="col-sm-6 m-t-15">
                <a href="~/Batch/Create" class="btn btn-default pull-right">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    Create
                </a>
                <div class="btn-group pull-right m-r-5">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Bulk Actions <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a onclick="bulkFunction('select-config','Schedule/Batch/Create/Bulk')">Schedule</a></li>
                        <li><a onclick="bulkFunction('select-config','Batch/Delete/Bulk')">Delete</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row m-t-15">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <table class="datatable table report-table" id="searchable-table">
                    <thead>
                        <tr style="background: #990505;">
                            <td>@Html.CheckBox("select-all", new { @class = "select-all-trigger", @data_children = "select-config" })</td>
                            <td>Type</td>
                            <td>Type</td>
                            <td>Tag</td>
                            <td>State TTL (Minutes)</td>
                            <td></td>
                        </tr>
                        <tr style="background: #ddd;">
                            <td colspan="10">
                                @using (@Html.BeginForm("Index", "Batch", FormMethod.Get))
                                {
                                    @Html.TextBoxFor(m => m.SearchTerm, new { @name = "q", @class = "form-control", @placeholder = "Search for batch configuration..." })
                                }
                            </td>
                        </tr>
                    </thead>
                    <tbody>

                        @if (!Model.BatchConfigModels.Any())
                        {
                            <tr>
                                <td colspan="10" class="center-text">
                                    No batch configurations have been created
                                </td>
                            </tr>
                        }

                        @foreach (var item in Model.BatchConfigModels.OrderBy(x => x.Type))
                        {
                            <tr>
                                <td>@Html.CheckBox("select-" + @item.Type, new { @class = "select-config", @data_id = @item.ConfigurationId })</td>
                                <td><a href="~/Schedule?SearchTerm=@item.Type">@item.Type</a></td>
                                <td>@item.OutputType</td>
                                <td>@item.OutputTag</td>
                                <td>@item.StateTtlMinutes</td>
                                <td>
                                    <a href="~/Schedule/Batch/Create/@item.ConfigurationId" class="text-center glyphicon glyphicon glyphicon-dashboard"></a>
                                    <a href="~/Batch/Update/@item.ConfigurationId" class="text-center glyphicon glyphicon-pencil"></a>
                                    <a href="~/Batch/Delete/@item.ConfigurationId/@item.Type.Replace(".","!")" class="text-center glyphicon glyphicon-trash"></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

        @if (Model.PageCount > 1)
        {
            <div class="row">
                <div class="col-sm-12">
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            @if (Model.CurrentPage == 1)
                            {
                                <li class="disabled">
                                    <a href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <a href="~/Batch?page=@Model.PreviousPage&searchTerm=@Model.SearchTerm" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                            }

                            @foreach (var page in Enumerable.Range(1, Model.PageCount))
                            {
                                if (page == Model.CurrentPage)
                                {
                                    <li class="active"><a href="~/Batch?page=@page&searchTerm=@Model.SearchTerm">@page</a></li>
                                }
                                else
                                {
                                    <li><a href="~/Batch?page=@page&searchTerm=@Model.SearchTerm">@page</a></li>
                                }
                            }

                            @if (Model.CurrentPage == Model.PageCount)
                            {
                                <li class="disabled">
                                    <a href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <a href="~/Batch?page=@Model.NextPage&searchTerm=@Model.SearchTerm" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            }
                        </ul>
                    </nav>
                </div>
            </div>
        }
    </div>
</div>