@using Gateway.Web.Database
@using Gateway.Web.Models
@using Gateway.Web.Models.Controller
@using Gateway.Web.Models.Group
@using Gateway.Web.Utils
@using Newtonsoft.Json
@using Version = Gateway.Web.Models.Controller.Version
@model ADGroupsModel
@{
    Layout = "~/Views/Shared/_Layout.NoFooter.cshtml";
    ViewBag.Title = "Group";
    ViewBag.Current = "ADGroups";
}
@{ Html.RenderPartial("_GroupNav", (ADGroupsModel)@Model); }

<div id="page-content-wrapper">
    <div class="hero-unit">
        <h3>Active Directory Groups</h3>
        <hr />
        <div id="containerx bulk">

            <table style="width: 100%; white-space: nowrap" class="datatable">
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>Domain</td>
                        <td>Action</td>
                    </tr>
                </thead>
                @foreach (GroupActiveDirectory item in Model.Items)
            {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Domain</td>
                        <td>
                            @Html.ActionLink("Remove", "RemoveGroupADGroup", "Group", new { id = item.Id, groupId = item.GroupId }, new { @class = "hoverlink" })
                        </td>
                    </tr>
                }
            </table>
            <br />

        </div>
        <br />

        @using (Html.BeginForm("InsertGroupADGroup", "Group", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            <a class="btn btn-default btn-sm" data-toggle="collapse" href="#collapsePanel" aria-expanded="false" aria-controls="collapsePanel">
                Add New Active Directory Group
            </a>
            <div class="@(Html.ViewData.ModelState.IsValid ? "collapse" : "collapse show")" id="collapsePanel">
                <div class="info-block">
                    <div>
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(false, "", new { @class = "text-danger" })

                        <!-- Hidden Id Field -->
                        @Html.TextBox("_id", Model.Id, new { @class = "form-control", @style = "display:none" })

                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-2">
                                    <label class="control-label">Domain</label>
                                </div>
                                <div class="col-md-4">
                                    @Html.TextBox("_domain", "", new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <label class="control-label">AD Group</label>
                                </div>
                                <div class="col-md-4">
                                    @Html.TextBox("_adgroup", "", new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="col-md-offset-2 col-md-4">
                                <input type="submit" class="btn btn-default btn-sm" value="Add" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
</div>
