@using Gateway.Web.Utils
@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Error";
}

<div class="hero-unit">

    <h3>@Model.Exception.GetType().Name.AddWordspaces()</h3>

    @if (Model != null)
    {
        <div>
            <p>
                <b>Exception:</b> @Model.Exception.Message<br />
                <b>Controller:</b> @Model.ControllerName<br />
                <b>Action:</b> @Model.ActionName
            </p>
            <div style="overflow: scroll;">
                <pre style="white-space: pre-wrap; white-space: -moz-pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word;">
                    @Model.Exception.StackTrace
                </pre>
            </div>
        </div>
    }

</div>