@using Gateway.Web.Utils
@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Error";
}

<div class="hero-unit">

    <h3>Something went wrong</h3>
    @if (Model != null)
    {
        <p>
            <b>Controller:</b> @Model.ControllerName<br />
            <b>Action:</b> @Model.ActionName
        </p>

        foreach (var exception in Model.Exception.EnumerateExceptions())
        {
            <p>&nbsp;</p>
            <h4>@exception.GetType().Name.AddWordspaces()</h4>

            <div>
                <p>
                    <b>Exception:</b> @exception.Message<br />
                </p>
                <div style="overflow: scroll;">
                    <pre style="white-space: pre-wrap; white-space: -moz-pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word;">
                    @exception.StackTrace
                </pre>
                </div>
            </div>
        }
    }

</div>