<!-- Sidebar -->
<div id="sidebar-wrapper">
    <br />
    <div style="margin-left: 10px; height: 50px">
        <div style="float: left">
            <img class="sidebar-img" src="@Url.Content(MvcApplication.ControllerIcon)" style="height: 48px">
        </div>
        <div style="float: left; margin-top: 5px">
            <span class="sidebar-title">@ViewBag.Title</span><br />
            <span class="sidebar-subtitle">@ViewBag.Current</span>
        </div>
    </div>

    <div class="sidebar-navheader">
        <strong>DETAILS</strong>
    </div>

    <ul class="sidebar-nav">
        <li>
            <a href="~/AddIn/Details/@Model.Id/"
               class="@(ViewBag.Current == "Details" ? "active" : "")">
                <span class="glyphicon glyphicon-list-alt"></span>&nbsp;&nbsp;Details
            </a>
        </li>
        <li>
            <a href="~/Security/Reports/AddInVersions"
               class="@(ViewBag.Report == "Versions" ? "active" : "")">
                <span class="glyphicon glyphicon-list-alt"></span>&nbsp;&nbsp;Versions
            </a>
        </li>
        <li>
            <a href="~/AddIn/Groups/@Model.Id/"
               class="@(ViewBag.Current == "Groups" ? "active" : "")">
                <span class="glyphicon glyphicon-folder-close"></span>&nbsp;&nbsp;Groups
            </a>
        </li>
        <li>
            <a href="~/AddIn/Users/@Model.Id/"
               class="@(ViewBag.Current == "Users" ? "active" : "")">
                <span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Users
            </a>
        </li> 
    </ul>

    <div class="sidebar-navheader">
        <strong>NAVIGATION</strong>
    </div>

    <ul class="sidebar-nav">
        <li>
            <a href="~/Security/AddIns">
                <span class="glyphicon glyphicon-circle-arrow-left"></span>&nbsp;&nbsp;All Add-Ins
            </a>
        </li>
    </ul>
</div>
<!-- /#sidebar-wrapper -->
