@using Gateway.Web.Controllers
<!-- Sidebar -->
<div id="sidebar-wrapper">
    <br />
    <div style="margin-left: 10px; height: 50px">
        <div style="float: left">
            <img class="sidebar-img" src="@Url.Content(MvcApplication.ControllerIcon)" style="height: 48px">
        </div>
        <div style="float: left; margin-top: 5px">
            <span class="sidebar-title">@ViewBag.Title</span><br />
            <span class="sidebar-subtitle">@ViewBag.Current</span>
        </div>
    </div>

    <!-- Built in Reports -->
    <div class="sidebar-navheader">
        <strong>SYSTEM</strong>
    </div>
    <ul class="sidebar-nav">
        <li>
            <a href="~/Security/Manifest"
               class="@(ViewBag.Report == "Manifest" ? "active" : "")">
                <span class="glyphicon glyphicon-list-alt"></span>&nbsp;&nbsp;Servers/Versions
            </a>
        </li>
        <li>
            <a href="~/MarketData/MissingMonikersAction"
               class="@(ViewBag.Report == "Missing Monikers" ? "active" : "")">
                <span class="glyphicon glyphicon-list-alt"></span>&nbsp;&nbsp;Market Data Report
            </a>
        </li>
        @foreach (var report in SecurityController.DyanmicReports.Where(r => r.IsSystemReport))
        {
            <li>
                @if (report.HasParameters)
                {
                    <a href="~/Security/Reports/@report.Report/@report.ParameterName/null"
                       class="@(ViewBag.Report == @report.Report ? "active" : "")">
                        <span class="glyphicon glyphicon-list-alt"></span>&nbsp;&nbsp;@report.Name
                    </a>
                }
                else
                {
                    <a href="~/Security/Reports/@report.Report"
                       class="@(ViewBag.Report == @report.Report ? "active" : "")">
                        <span class="glyphicon glyphicon-list-alt"></span>&nbsp;&nbsp;@report.Name
                    </a>
                }
            </li>
        }
    </ul>

    <!-- Dynamic Reports Loaded from Central Config -->
    @foreach (var group in SecurityController.DyanmicReports.Where(r => !r.IsSystemReport).GroupBy(g => g.GroupName))
    {
        <div class="sidebar-navheader">
            <strong>@group.Key</strong>
        </div>
        <ul class="sidebar-nav">
            @foreach (var report in group)
            {
                <li>
                    @if (report.HasParameters)
                    {
                        <a href="~/Security/Reports/@report.Report/@report.ParameterName/null"
                           class="@(ViewBag.Report == @report.Report ? "active" : "")">
                            <span class="glyphicon glyphicon-list-alt"></span>&nbsp;&nbsp;@report.Name
                        </a>
                    }
                    else
                    {
                        <a href="~/Security/Reports/@report.Report"
                           class="@(ViewBag.Report == @report.Report ? "active" : "")">
                            <span class="glyphicon glyphicon-list-alt"></span>&nbsp;&nbsp;@report.Name
                        </a>
                    }
                </li>
            }
        </ul>
    }
</div>
<!-- /#sidebar-wrapper -->
