<!-- Sidebar -->
<div id="sidebar-wrapper">
    <br />
    <div style="margin-left: 10px; height: 50px">
        <div style="float: left">
            <img class="sidebar-img" src="@Url.Content(MvcApplication.ControllerIcon)" style="height: 48px">
        </div>
        <div style="float: left; margin-top: 5px">
            <span class="sidebar-title">@ViewBag.Title</span><br />
            <span class="sidebar-subtitle">@ViewBag.Current</span>
        </div>
    </div>

    <div class="sidebar-navheader">
        <strong>DETAILS</strong>
    </div>

    <ul class="sidebar-nav">
        <li>
            <a href="~/Security/Groups/"
               class="@(ViewBag.Current == "Groups" ? "active" : "")">
                <span class="glyphicon glyphicon-folder-close"></span>&nbsp;&nbsp;Groups
            </a>
        </li>
        <li>
            <a href="~/Security/Users/"
               class="@(ViewBag.Current == "Users" ? "active" : "")">
                <span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Users
            </a>
        </li>
        <li>
            <a href="~/Security/AddIns/"
               class="@(ViewBag.Current == "AddIns" ? "active" : "")">
                <span class="glyphicon  glyphicon-retweet"></span>&nbsp;&nbsp;Add-Ins
            </a>
        </li>
        <li>
            <a href="~/Security/Permissions/"
               class="@(ViewBag.Current == "Permissions" ? "active" : "")">
                <span class="glyphicon glyphicon-eye-close"></span>&nbsp;&nbsp;Permissions
            </a>
        </li>
    </ul>

    <div class="sidebar-navheader">
        <strong>REPORTS</strong>
    </div>

    <ul class="sidebar-nav">
        <li>
            <a href="~/Security/Reports/Audit"
               class="@(ViewBag.Report == "Audit" ? "active" : "")">
                <span class="glyphicon glyphicon-list-alt"></span>&nbsp;&nbsp;Audit
            </a>
        </li>
        <li>
            <a href="~/Security/Reports/EffectivePermissions/null"
               class="@(ViewBag.Report == "EffectivePermissions" ? "active" : "")">
                <span class="glyphicon glyphicon-list-alt"></span>&nbsp;&nbsp;Effective Permissions
            </a>
        </li>
        <li>
            <a href="~/Security/Reports/EffectivePortfolios/null"
               class="@(ViewBag.Report == "EffectivePortfolios" ? "active" : "")">
                <span class="glyphicon glyphicon-list-alt"></span>&nbsp;&nbsp;Effective Portfolios
            </a>
        </li>
        <li>
            <a href="~/Security/Reports/EffectiveSites/null"
               class="@(ViewBag.Report == "EffectiveSites" ? "active" : "")">
                <span class="glyphicon glyphicon-list-alt"></span>&nbsp;&nbsp;Effective Sites
            </a>
        </li>
        <li>
            <a href="~/Security/Reports/EffectiveVersions/null"
               class="@(ViewBag.Report == "EffectiveVersions" ? "active" : "")">
                <span class="glyphicon glyphicon-list-alt"></span>&nbsp;&nbsp;Effective Versions
            </a>
        </li>
        <li>
            <a href="~/Security/Reports/AddInVersions"
               class="@(ViewBag.Report == "AddInVersions" ? "active" : "")">
                <span class="glyphicon glyphicon-list-alt"></span>&nbsp;&nbsp;Add-In Version Report
            </a>
        </li>
        <li>
            <a href="~/Security/Reports/SiteReport"
               class="@(ViewBag.Report == "SiteReport" ? "active" : "")">
                <span class="glyphicon glyphicon-list-alt"></span>&nbsp;&nbsp;Site Report
            </a>
        </li>
    </ul>
</div>
<!-- /#sidebar-wrapper -->
