<!-- Sidebar -->
<div id="sidebar-wrapper">
    <br />
    <div style="margin-left: 10px; height: 50px">
        <div style="float: left">
            <img class="sidebar-img" src="@Url.Content(MvcApplication.ControllerIcon)" style="height: 48px">
        </div>
        <div style="float: left; margin-top: 5px">
            <span class="sidebar-title">@ViewBag.Title</span><br />
            <span class="sidebar-subtitle">@ViewBag.Current</span>
        </div>
    </div>

    <div class="sidebar-navheader">
        <strong>DETAILS</strong>
    </div>

    <ul class="sidebar-nav">
        <li>
            <a href="~/Security/Groups/"
               class="@(ViewBag.Current == "Groups" ? "active" : "")">
                <span class="glyphicon glyphicon-folder-close"></span>&nbsp;&nbsp;Groups
            </a>
        </li>
        <li>
            <a href="~/Security/Users/"
               class="@(ViewBag.Current == "Users" ? "active" : "")">
                <span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Users
            </a>
        </li>
        <li>
            <a href="~/Security/AddIns/"
               class="@(ViewBag.Current == "Applications" ? "active" : "")">
                <span class="glyphicon  glyphicon-retweet"></span>&nbsp;&nbsp;Applications
            </a>
        </li>
        <li>
            <a href="~/Security/Permissions/"
               class="@(ViewBag.Current == "Permissions" ? "active" : "")">
                <span class="glyphicon glyphicon-eye-close"></span>&nbsp;&nbsp;Permissions
            </a>
        </li>
        <li>
            <a href="~/Security/Links/"
               class="@(ViewBag.Current == "Links" ? "active" : "")">
                <span class="glyphicon glyphicon-th-list"></span>&nbsp;&nbsp;Links
            </a>
        </li>
        <li>
            <a href="~/Security/BusinessFunctions/"
               class="@(ViewBag.Current == "Business Functions" ? "active" : "")">
                <span class="glyphicon glyphicon-cog"></span>&nbsp;&nbsp;Business Functions
            </a>
        </li>
        <li>
            <a href="~/Security/GroupTypes/"
               class="@(ViewBag.Current == "Group Types" ? "active" : "")">
                <span class="glyphicon glyphicon-tag"></span>&nbsp;&nbsp;Group Types
            </a>
        </li>
    </ul>
</div>
<!-- /#sidebar-wrapper -->
