@using Gateway.Web.Models.Group
@using Gateway.Web.Models.Security
@using Version = Gateway.Web.Models.Controller.Version
@{
    Layout = "~/Views/Shared/_Layout.NoFooter.cshtml";
    ViewBag.Title = "Security";
    ViewBag.Current = "Groups";
}
@{ Html.RenderPartial("_SecurityNav", (GroupsModel)@Model); }

<div id="page-content-wrapper">
    <div class="hero-unit">

        <br />
        <div id="containerx bulk">
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })

            <table style="width: 100%; white-space: nowrap" class="datatable table" id="searchable-table">
                <thead>
                    <tr>
                        <td>Group</td>
                        <td>
                            Description
                            <a class="btn btn-default btn-xs glyphicon glyphicon-plus pull-right"
                               data-target=".add-modal"
                               data-toggle="modal"></a>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="form-group">
                                <input class="form-control col-sm-11"
                                       placeholder="search for group..."
                                       data-input="quick-search"
                                       data-search-target="#searchable-table tbody > tr"
                                       name="quick-search"
                                       type="text">
                                <span class="col-sm-1 form-control-feedback form-action-clear glyphicon glyphicon-remove form-control input-group-addon"
                                      aria-hidden="true"></span>
                            </div>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (GroupModel group in Model.Items)
                    {
                        <tr data-href="@(Url.Action("Details", "Group", new { id = group.Id }))">
                            <td>@group.Name</td>
                            <td colspan="2">@group.Description</td>
                        </tr>
                    }
                </tbody>
            </table>
            <br />
        </div>
        <br />

        @using (Html.BeginForm("InsertGroup", "Security", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
            <div class="modal fade add-modal" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">

                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title" id="myModalLabel">Add Redstone Group</h4>
                        </div>

                        <div class="modal-body">
                            @Html.AntiForgeryToken()

                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-2">
                                        <label class="control-label">Name</label>
                                    </div>
                                    <div class="col-md-4">
                                        @Html.TextBox("_name", "", new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <label class="control-label">Description</label>
                                    </div>
                                    <div class="col-md-4">
                                        @Html.TextBox("_description", "", new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-default">Add</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>