@using Gateway.Web.Database
@using Gateway.Web.Models
@using Gateway.Web.Models.Controller
@using Gateway.Web.Models.Permission
@using Gateway.Web.Models.Security
@using Gateway.Web.Utils
@using Newtonsoft.Json
@using Version = Gateway.Web.Models.Controller.Version
@model PermissionsModel
@{
    Layout = "~/Views/Shared/_Layout.NoFooter.cshtml";
    ViewBag.Title = "Security";
    ViewBag.Current = "Permissions";
}
@{ Html.RenderPartial("_SecurityNav", (PermissionsModel)@Model); }

<div id="page-content-wrapper">
    <div class="hero-unit"> 
        <h3>Permissions</h3>
        <hr />
        <div id="containerx bulk">

            @foreach (SystemPermissions sys in Model.Items)
            {
                <h4>@sys.Name</h4>

                <table style="width: 100%; white-space: nowrap" class="datatable">
                    <thead>
                        <tr>
                            <td>Name</td>
                            <td>Action</td>
                        </tr>
                    </thead>
                    @foreach (PermissionModel item in sys.Items)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>
                                @Html.ActionLink("View", "Details", "Permission", new { id = item.Id }, new { @class = "hoverlink" })
                            </td>
                        </tr>
                    }
                </table>
                <br />
            }

        </div>
        <br />

        @using (Html.BeginForm("InsertPermission", "Security", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            <a class="btn btn-default btn-sm" data-toggle="collapse" href="#collapsePanel" aria-expanded="false" aria-controls="collapsePanel">
                Add New Permission
            </a>
            <div class="@(Html.ViewData.ModelState.IsValid ? "collapse" : "collapse show")" id="collapsePanel">
                <div class="info-block">
                    <div>
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(false, "", new { @class = "text-danger" })

                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-2">
                                    <label class="control-label">System</label>
                                </div>
                                <div class="col-md-4">
                                    @Html.DropDownList("_system", Model.AvailableSystems, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <label class="control-label">Name</label>
                                </div>
                                <div class="col-md-4">
                                    @Html.TextBox("_name", "", new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="col-md-offset-2 col-md-4">
                                <button class="btn btn-default btn-sm" type="submit" i="submit">
                                    Add
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
