@using Gateway.Web.Database
@using Gateway.Web.Models
@using Gateway.Web.Models.Controller
@using Gateway.Web.Models.Security
@using Gateway.Web.Models.User
@using Gateway.Web.Utils
@using Newtonsoft.Json
@using Version = Gateway.Web.Models.Controller.Version
@{
    Layout = "~/Views/Shared/_Layout.NoFooter.cshtml";
    ViewBag.Title = "Security";
    ViewBag.Current = "Users";
}
@{ Html.RenderPartial("_SecurityNav", (UsersModel)@Model); }

<div id="page-content-wrapper">
    <div class="hero-unit">

        <h3>Users</h3>
        <hr />
        <p><strong>Please Note:</strong> users can have access without appearing in this list through Active Directory membership to groups. To view effective permissions for a user, please click on the report links in the left hand navigation panel.</p>

        <div id="containerx bulk">

            <table style="width: 100%; white-space: nowrap" class="datatable">
                <thead>
                <tr>
                    <td>Full Name</td>
                    <td>Domain</td>
                    <td>Login</td>
                    <td>Action</td>
                </tr>
                </thead>
                @foreach (UserModel user in Model.Items)
                {
                    <tr>
                        <td>@user.FullName</td>
                        <td>@user.Domain</td>
                        <td>@user.Login</td>
                        <td>@Html.ActionLink("View", "Details", "User", new { id = user.Id }, new { @class = "hoverlink" })</td>
                    </tr>
                }
            </table>
            <br/>

        </div>

        <br />
        @using (Html.BeginForm("InsertUser", "User", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
            <a class="btn btn-default btn-sm" data-toggle="collapse" href="#collapsePanel" aria-expanded="false" aria-controls="collapsePanel">
                Add New User
            </a>
            <div class="@(Html.ViewData.ModelState.IsValid ? "collapse" : "collapse show")" id="collapsePanel">
                <div class="info-block">
                    <div>
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(false, "", new { @class = "text-danger" })

                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-2">
                                    <label class="control-label">Domain</label>
                                </div>
                                <div class="col-md-4">
                                    @Html.TextBox("_domain", "", new {@class = "form-control"})
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-2">
                                    <label class="control-label">Login</label>
                                </div>
                                <div class="col-md-4">
                                    @Html.TextBox("_login", "", new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-2">
                                    <label class="control-label">Full Name</label>
                                </div>
                                <div class="col-md-4">
                                    @Html.TextBox("_fullName", "", new {@class = "form-control"})
                                </div>
                            </div>

                            <div class="col-md-offset-2 col-md-4">
                                <button class="btn btn-default btn-sm" type="submit" i="submit">
                                    Add
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
</div>
