@using System.Xml.Schema
@using Gateway.Web.Models
@using Gateway.Web.Models.Controllers
@using System.Web.UI.WebControls
@using Gateway.Web.Models.Controller

<div class="row">

    <h3>Home</h3>

    <br />
    under construction - this page will include various charts showing number of requests, response times
    and queue sizes.
    
    <br/>
    <h3>Current Queue Sizes</h3>

    <br />
    <div>
        <img src="~/Controllers/QueueChart?date=@Model.HistoryStartTime.ToString("yyyyMMdd")" />
    </div>

    <table style="width: 100%">
        <thead>
            <tr>
                <td><b>Controller</b></td>
                <td><b>Version</b></td>
                <td><b>Last Enqueue</b></td>
                <td><b>Last Dequeue</b></td>
                <td><b>Count</b></td>
                <td><b>Workers</b></td>
            </tr>
        </thead>
        @foreach (QueueModel version in Model.Current)
            {
            <tr>
                <td><a href="~/Controller/Queues/@version.Controller">@version.Controller</a></td>
                <td>@version.Version</td>
                <td>@version.LastEnqueue</td>
                <td>@version.LastDequeue</td>
                <td>@version.Length</td>
                <td>@version.Workers</td>
            </tr>
        }
    </table>

</div>