@using Gateway.Web.Models.Controller
@{
    ViewBag.Title = "Dashboard";
}
@model Gateway.Web.Models.Home.IndexModel

<div class="row">

    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h3 class="text-lowercase">Services</h3>
                @{ Html.RenderPartial("_StateItems", @Model.Services); }
                <br />
                <h3 class="text-lowercase">Databases</h3>
                @{ Html.RenderPartial("_StateItems", @Model.Databases); }
            </div>
            <div class="col-sm-4">
                <a href="@Url.Action("History", "Controllers")" class="hoverlink">
                    <h3 class="text-lowercase">
                        Controllers
                    </h3>
                </a>
                @{ Html.RenderPartial("_ControllerStateItems", @Model.Controllers); }
            </div>
            <div class="col-sm-4">
                <h3 class="text-lowercase">Batches</h3>
                @{ Html.RenderPartial("_BatchStates", @Model.Batches); }
            </div>
        </div>
    </div>
</div>