@using Gateway.Web.Models.Controller
@{
    ViewBag.Title = "Dashboard";
}
@model Gateway.Web.Models.Home.IndexModel
@section scripts
{
    <script>
        //define your time in second
        var c = 600;
        var t;
        timedCount();

        function timedCount() {

            var value = c % 600;
            
            $('.progressBar').val(value);
            
            if (c <= 0) {
                // stop
            } else {
                c = c - 1;
                t = setTimeout(function () {
                    timedCount();
                },
                    100);
            }
        }
    </script>
}
<div class="row">

    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h3 class="text-lowercase">Servers</h3>
                @{ Html.RenderPartial("_FrameworkStateItems", @Model.Servers); }
                <br />
                <h3 class="text-lowercase">Services</h3>
                @{ Html.RenderPartial("_StateItems", @Model.Services); }
                <br />
                <h3 class="text-lowercase">Databases</h3>
                @{ Html.RenderPartial("_StateItems", @Model.Databases); }
                <br />
                <h3 class="text-lowercase">Refresh</h3>
                <progress class="progressBar" max="600" value="600"></progress>
            </div>
            <div class="col-sm-4">
                <h3 class="text-lowercase">
                    <a href="@Url.Action("History", "Controllers")" class="hoverlink" style="color: #990505">
                        Controllers
                    </a>
                </h3>
                @{ Html.RenderPartial("_ControllerStateItems", @Model.Controllers); }
            </div>
            <div class="col-sm-4">
                <h3 class="text-lowercase"><a href="/Monitoring/RiskBatches">Batches</a></h3>
                @{ Html.RenderPartial("_BatchStatesSummary", @Model.Batches); }
            </div>
        </div>
       

    </div>
</div>