@model IEnumerable<Gateway.Web.Models.Batches.CostGroupMonthlyBatchCost>

@{
    ViewBag.Title = "GetBatchCosts";
}

<h2>GetBatchCosts</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CostGroup)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BatchType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CostType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.January)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.February)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.March)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.April)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.May)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.June)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.July)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.August)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.September)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.October)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.November)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.December)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstimatedAnnualTotal)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CostGroup)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BatchType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CostType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.January)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.February)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.March)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.April)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.May)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.June)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.July)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.August)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.September)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.October)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.November)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.December)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstimatedAnnualTotal)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>*@
