@model IEnumerable<Gateway.Web.Models.Batches.CostGroupMonthlyBatchCost>

@{
    Layout = "~/Views/Shared/_Layout.NoFooter.cshtml";
}
@{ Html.RenderPartial("_BatchConfigNav"); }

<div id="page-content-wrapper">
    <div class="hero-unit">
        <div class="row">
            <div class="col-sm-6">
                <h3 class="text-lowercase">Monthly Batch Capacity Utilization</h3>
            </div>
        </div>

        <div class="row m-t-15">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <table class="datatable table report-table">
                    <thead>
                        <tr style="background: #990505;">
                            <td>Cost Group</td>
                            <td>Batch Type</td>
                            <td>Cost Type</td>
                            <td>Jan</td>
                            <td>Feb</td>
                            <td>Mar</td>
                            <td>Apr</td>
                            <td>May</td>
                            <td>Jun</td>
                            <td>Jul</td>
                            <td>Aug</td>
                            <td>Sep</td>
                            <td>Oct</td>
                            <td>Nov</td>
                            <td>Dec</td>
                            <td>Annual Estimate</td>
                        </tr>
                    </thead>
                    <tbody>
                        @if (!Model.Any())
                        {
                            <tr>
                                <td colspan="10" class="center-text">
                                    No batch capacity utilization data found
                                </td>
                            </tr>
                        }
                        else
                        {
                            foreach (var costGroupMonthlyBatchCost in Model)
                            {
                                <tr>
                                    <td>@costGroupMonthlyBatchCost.CostGroup</td>
                                    <td>@costGroupMonthlyBatchCost.BatchType</td>
                                    <td>@costGroupMonthlyBatchCost.CostType</td>
                                    <td>@costGroupMonthlyBatchCost.January</td>
                                    <td>@costGroupMonthlyBatchCost.February</td>
                                    <td>@costGroupMonthlyBatchCost.March</td>
                                    <td>@costGroupMonthlyBatchCost.April</td>
                                    <td>@costGroupMonthlyBatchCost.May</td>
                                    <td>@costGroupMonthlyBatchCost.June</td>
                                    <td>@costGroupMonthlyBatchCost.July</td>
                                    <td>@costGroupMonthlyBatchCost.August</td>
                                    <td>@costGroupMonthlyBatchCost.September</td>
                                    <td>@costGroupMonthlyBatchCost.October</td>
                                    <td>@costGroupMonthlyBatchCost.November</td>
                                    <td>@costGroupMonthlyBatchCost.December</td>
                                    <td>@costGroupMonthlyBatchCost.EstimatedAnnualTotal</td>
                                </tr>
                            }
                        }


                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>
