<!-- Sidebar -->
<div id="sidebar-wrapper">
    <br />
    <div style="margin-left: 10px; height: 50px">
        <div style="float: left">
            <img class="sidebar-img" src="@Url.Content(MvcApplication.ControllerIcon)" style="height: 48px">
        </div>
        <div style="float: left; margin-top: 5px">
            <span class="sidebar-title">@ViewBag.Title</span><br />
            <span class="sidebar-subtitle">@ViewBag.Current</span>
        </div>
    </div>

    <div class="sidebar-navheader">
        <strong>DETAILS</strong>
    </div>

    <ul class="sidebar-nav">
        <li>
            <a href="~/Controllers/Dashboard/"
               class="@(ViewBag.Current == "Dashboard" ? "active" : "")">
                <span class="glyphicon glyphicon-th-list"></span>&nbsp;&nbsp;Controllers
            </a>
        </li>
        <li>
            <a href="~/Controllers/Queues/"
               class="@(ViewBag.Current == "Queues" ? "active" : "")">
                <span class="glyphicon glyphicon-random"></span>&nbsp;&nbsp;Queues
            </a>
        </li>
        <li>
            <a href="~/Controllers/History/"
               class="@(ViewBag.Current == "History" ? "active" : "")">
                <span class="glyphicon glyphicon-search"></span>&nbsp;&nbsp;History
            </a>
        </li>
        <li>
            <a href="~/Controllers/Actions/"
               class="@(ViewBag.Current == "Actions" ? "active" : "")">
                <span class="glyphicon glyphicon-cog"></span>&nbsp;&nbsp;Actions
            </a>
        </li>
        <li>
            &nbsp;
        </li>
    </ul>
</div>
<!-- /#sidebar-wrapper -->
