@using System.Xml.Schema
@using Gateway.Web.Models
@using Gateway.Web.Models.Controllers
@{
    Layout = "~/Views/Shared/_Layout.NoFooter.cshtml";
    ViewBag.Title = "Security";
    ViewBag.Current = "Aliases";
}
@{ Html.RenderPartial("~/Views/Security/_SecurityReportsNav.cshtml"); }

<div id="page-content-wrapper">
    <div class="hero-unit">

        <h3 class="text-lowercase">Aliases</h3>
        <br />

        <div id="containerx bulk">

            @foreach (Alias group in Model.Items)
            {
                <h4>@group.Name</h4>

                <table style="width: 100%; white-space: nowrap" class="datatable">
                    <thead>
                        <tr>
                            <td style="width: 30%">Controller</td>
                            <td style="width: 40%">Version</td>
                            <td>Status</td>
                        </tr>
                    </thead>

                    @foreach (ControllerVersion version in group.Controllers)
                    {
                        <tr style="background: @(version.IsActive ? "" : "yellow")">
                            <td><a href="~/Controller/Dashboard/@version.Name" class="hoverlink">@version.Name</a></td>
                            <td><a href="~/Controller/Versions/@version.Name" class="hoverlink">@version.Version</a></td>
                            <td>@version.Status</td>
                        </tr>
                    }
                </table>
                <br />
            }

        </div>
        <br />
    </div>
</div>