@using System.Xml.Schema
@using Gateway.Web.Models
@using Gateway.Web.Models.Controllers
@{
    Layout = "~/Views/Shared/_Layout.NoFooter.cshtml";
    ViewBag.Title = "All Controllers";
    ViewBag.Current = "Dashboard";
}
@{ Html.RenderPartial("_ControllersNav"); }

<div id="page-content-wrapper">
    <div class="hero-unit">

        <h3>Controllers</h3>
        <hr />
        <p>Statistics for last 7 days</p>

        <p>
            <a href="~/Controllers/Create/">
                <span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Create
            </a>
        </p>

        <div class="containerx bulk">
            @foreach (ControllerStats controller in Model.Controllers)
            {
                if (controller.IsSeperator)
                {
                    <div class="widget" style="height: 181px; background: #F5F5F5;">
                        <div class="content">
                            <div class="list-head clearfix">
                                <h3 style="margin: 30px 90px; font-size: 72px; font-weight: bold; color: #990505">
                                    @controller.Name
                                </h3>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="widget">
                        <div class="content">
                            <div class="list-head clearfix">
                                <table>
                                    <tr>
                                        <td><img src="@Url.Content(MvcApplication.ControllerIcon)" alt="" class="avatar" /></td>
                                        <td style="width: 200px; overflow: hidden; text-overflow: ellipsis;">
                                            <h3 style="margin: 0 40px 0 5px;">
                                                <a href="~/Controller/Dashboard/@controller.Name">
                                                    @controller.Name
                                                </a>
                                            </h3>
                                        </td>
                                    </tr>
                                </table>
                                <small>
                                    @foreach (var item in controller.VersionSummary)
                                    {
                                        <span>@item.Key: <b>@item.Value</b></span>
                                    }
                                </small>
                                <br />
                                <br />

                                <div style="float: left;">
                                    <table style="min-width: 200px; padding: 10px">
                                        <tr>
                                            <td style="width: 150px">
                                                <span class="glyphicon glyphicon-log-in" style="color: green"></span>&nbsp;&nbsp;Calls
                                            </td>
                                            <td>@controller.TotalCalls</td>
                                        </tr>
                                        <tr>
                                            <td style="width: 150px">
                                                <span class="glyphicon glyphicon-thumbs-down" style="color: red"></span>&nbsp;&nbsp;Errors
                                            </td>
                                            <td>@controller.TotalErrors</td>
                                        </tr>
                                        <tr>
                                            <td style="width: 150px">
                                                <span class="glyphicon glyphicon-resize-full" style="color: gray"></span>&nbsp;&nbsp;Bandwidth
                                            </td>
                                            <td>...</td>
                                        </tr>
                                        <tr>
                                            <td style="width: 150px">
                                                <span class="glyphicon glyphicon-time" style="color: black"></span>&nbsp;&nbsp;Avg. Response
                                            </td>
                                            <td>@controller.AverageResponse</td>
                                        </tr>
                                    </table>
                                </div>

                                @*<div style="float: left;">
                                        <img src="~/Controller/RequestsChart?id=@controller.Name&date=@Model.HistoryStartTime.ToString("yyyyMMdd")"/>
                                    </div>*@

                            </div>
                        </div>
                    </div>
                }
            }
        </div>

        <br />
    </div>
</div>
