@using System.Xml.Schema
@using Gateway.Web.Models
@using Gateway.Web.Models.Controllers
@{
    Layout = "~/Views/Shared/_Layout.NoFooter.cshtml";
    ViewBag.Title = "All Controllers";
    ViewBag.Current = "Dashboard";
}
@{ Html.RenderPartial("_ControllersNav"); }

    <script>
    function popup(url,controllerName)
    {
         window.open(url, controllerName, "dialogHeight:600px;dialogHeight:400px;dialogWidth:700px;dialogTop:300px;dialogLeft:400px;edge:Raised;center:Yes;help:No;Resiable:No;Status:No;");
   }

    </script>

    <style>
        .Critical {
            border-color: red;
            background-color: lightcoral;
            border-style: solid;
            border-width: 1px 1px 1px 1px;
        }

        .Warning {
            border-color: orange;
            background-color: lightsalmon;
            border-style: solid;
            border-width: 1px 1px 1px 1px;
        }

    </style>

<div id="page-content-wrapper">
    <div class="hero-unit">

        <h3 class="text-lowercase">All Controllers</h3>

        <p>Statistics for last 24 hours</p>

        <!-- Navigate list -->
        <div style="margin-left: 5px">
            @foreach (var character in Model.Characters)
            {
                <a href="#@character.Character">
                    <div class="widget" style="width: 26px; margin: 1px; padding: 4px; background: #F5F5F5;">
                        <div class="content">
                            <div class="list-head clearfix">
                                @if (character.IsPresent)
                                {
                                    <h3 style="margin: 0px 0px; font-size: 12px; font-weight: bold; color: #990505">
                                        @character.Character
                                    </h3>
                                }
                                else
                                {
                                    <h3 style="margin: 0px 0px; font-size: 12px; font-weight: bold; color: #CCCCCC">
                                        @character.Character
                                    </h3>
                                }
                            </div>
                        </div>
                    </div>
                </a>
            }
        </div>

        <br style="clear:both" />
        <div class="containerx bulk">
            @foreach (ControllerStats controller in Model.Controllers)
            {
                if (controller.IsSeperator)
                {
                        <!-- Navigate anchor -->
                    <div class="widget" id="@controller.Name" style="height: 181px; background: #F5F5F5;">
                        <div class="content">
                            <div class="list-head clearfix">
                                <h3 style="margin: 30px 90px; font-size: 72px; font-weight: bold; color: #990505">
                                    @controller.Name
                                </h3>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <a href="~/Controller/Dashboard/@controller.Name"  >
                        <div class="widget @controller.RedisSummary.RedisHealth" title="@controller.Name" >
                            <div class="content" >
                                <div class="list-head clearfix" style="color:black">
                                    <table>
                                        <tr>
                                            <td><img src="@Url.Content(MvcApplication.ControllerIcon)" alt="" class="avatar" /></td>
                                            <td style="width: 200px; overflow: hidden; text-overflow: ellipsis;">
                                                <h3 style="margin: 0 40px 0 5px;">
                                                    @controller.Name
                                                </h3>
                                            </td>
                                        </tr>
                                    </table>
                                    <a href="#"  onclick="popup('@Url.Content("~/Controllers/RedisStats")?ControllerName=@controller.RedisSummary.ControllerName&ControllerVersionName=@controller.RedisSummary.ControllerVersion','@controller.RedisSummary.ControllerName');" style="cursor:pointer; color:black">
                                        <small>

                                            <span>Queue : <b>@controller.RedisSummary.QueueLength</b></span>
                                            <span>Workers : <b>@controller.RedisSummary.Workers</b></span>
                                            <span>Health <b>@controller.RedisSummary.RedisHealth</b></span>

                                        </small>
                                        <br />
                                        <small>

                                            <span>Idle Workers <b>@controller.RedisSummary.WorkersIdle</b></span>
                                            <span>Busy Workers <b>@controller.RedisSummary.WorkersBusy</b></span>

                                        </small>
                                    </a>
                                    <br />
                                    <br />
                                    <div style="float: left;">
                                        <table style="min-width: 200px; padding: 10px">
                                            <tr>
                                                <td style="width: 150px">
                                                    <span class="glyphicon glyphicon-log-in" style="color: green"></span>&nbsp;&nbsp;Calls
                                                </td>
                                                <td>@controller.TotalCalls</td>
                                            </tr>
                                            <tr>
                                                <td style="width: 150px">
                                                    <span class="glyphicon glyphicon-thumbs-down" style="color: red"></span>&nbsp;&nbsp;Errors
                                                </td>
                                                <td>@controller.TotalErrors</td>
                                            </tr>
                                            <tr>
                                                <td style="width: 150px">
                                                    <span class="glyphicon glyphicon-time" style="color: black"></span>&nbsp;&nbsp;Avg. Response
                                                </td>
                                                <td>@controller.AverageResponse</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                }
            }
        </div>
        <br />
    </div>
</div>