@using Gateway.Web.Database
@using Gateway.Web.Models
@using Gateway.Web.Models.Controller
@using Gateway.Web.Models.Controllers
@using Gateway.Web.Utils
@using Newtonsoft.Json
@using Version = Gateway.Web.Models.Controller.Version
@{
    Layout = "~/Views/Shared/_Layout.NoFooter.cshtml";
    ViewBag.Title = "All Controllers";
    ViewBag.Current = "Queues";
}
@{ Html.RenderPartial("_ControllersNav"); }

<div id="page-content-wrapper">
    <div class="hero-unit">

        <h3 class="text-lowercase">Queues</h3>

        <br />
        <div>
            <img src="~/Controllers/QueueChart?date=@Model.HistoryStartTime.ToString("yyyyMMdd")" />
        </div>

        <div class="container-fluid alert alert-redstone">
            <div class="col-sm-2">Controller</div>
            <div class="col-sm-2 text-center">Version</div>
            <div class="col-sm-3 text-center">Last Enqueue</div>
            <div class="col-sm-3 text-center">Last Dequeue</div>
            <div class="col-sm-1 text-center">Count</div>
            <div class="col-sm-1 text-center">Workers</div>
        </div>

        @foreach (QueueModel version in Model.Current)
        {
            <div class="container-fluid">

                <div class="col-sm-2"><a href="~/Controller/Queues/@version.Controller">@version.Controller</a></div>
                <div class="col-sm-2 text-center">@version.Version</div>
                <div class="col-sm-3 text-center">@version.LastEnqueue</div>
                <div class="col-sm-3 text-center">@version.LastDequeue</div>
                <div class="col-sm-1 text-center">@version.Length</div>
                <div class="col-sm-1 text-center">@version.Workers</div>
            </div>
        }
    </div>
</div>