@using System.Xml.Schema
@using Gateway.Web.Models.Redis
@model Gateway.Web.Models.Redis.RedisStatsViewModel
@{
    Layout = "~/Views/Shared/_PopupMonitor.cshtml";
     ViewBag.Title = "Controller Redis Stats";
    ViewBag.Current = "Dashboard";
}


<script type="text/JavaScript">
    $(document).ready(function () {         
        setupTable();
    });
     

    function AddWorkers(priority) {

        var controllerName = $("#ControllerName").val();
        var controllerVersion = $("#ControllerVersion").val();
        var request = $.get("AddWorkers?ControllerName=" + controllerName + "&ControllerVersion=" + controllerVersion + "&Priority=" + priority, function (data) {
             
        });

        toastr.options = {
            "positionClass": "toast-top-right",
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };
           toastr.success('Request to add 25 workers sent.', 'Success');
    }

    function setupTable() { 
        try {
                $("#tickerError").html("");    
                var controllerName = $("#ControllerName").val();
                var controllerVersion = $("#ControllerVersion").val();
                var maxPriority = $("#MaxPriority").val();
                setTimeout(function () { setupTable() }, 1000);
                var request = $.get("Stats?ControllerName=" + controllerName + "&ControllerVersion=" + controllerVersion + "&MaxPriority=" + maxPriority, function (data) {
                 
                updateView(data);
                    
                });
            }
            catch (e)
            {
                
                $("#tickerError").html(" ..error refreshing data.");    
                setupTable();
            }
    }

    function BusyWorkers(priority)
    {
        var controllerName = $("#ControllerName").val();
        var controllerVersion = $("#ControllerVersion").val();
        document.getElementById("busy").style.display = '';
        document.getElementById("stats").style.display = 'none';
        document.getElementById("back").style.display = '';   

        var request = $.get("BusyWorkers?ControllerName=" + controllerName + "&ControllerVersion=" + controllerVersion + "&Priority=" + priority,
            function (data)
            {
                updateWorkerView(data);
                    
            });
    }

    function Monitor()
    {
        document.getElementById("stats").style.display = '';
        document.getElementById("busy").style.display = 'none';
        document.getElementById("back").style.display = 'none';
    }

    function updateWorkerView(data) {
         var list = JSON.parse(data);
         var table = "<thead><tr><td>Correlation Id</td></tr></thead>";

                $.each(list,
                    function (index, value) {
                        table = table + "<tr>"
                        table = table + "<td><a target='_blank' href='@Url.Content("~/Request/Logs")?correlationId="+value+"'>" + value + "</a></td>"                        
                        table = table + "</tr>"
                });

                $("#busy").html(table);                
    }

    function updateView(data)
    {
        try {
                $("#tickerError").html("");    
                var list = JSON.parse(data);
                var table = "<thead><tr><td>Priority</td><td>Queue</td><td>Total Workers</td><td>Idle Workers</td><td>Busy Workers</td></tr></thead>";

                $.each(list,
                    function (index, value) {
                        var backgroundColor = "";
                        if (value.RedisHealthDisplay == "Critical") {
                            backgroundColor = "style='background-color: lightcoral'"
                        }
                        else if (value.RedisHealthDisplay == "Warning")
                        {
                            backgroundColor = "style='background-color: lightsalmon'"
                        }
                        table = table + "<tr " + backgroundColor + ">";
                        table = table + "<td>" + value.Priority + "</td>"
                        table = table + "<td>" + value.QueueLength + "</td>"
                        table = table + "<td>" + value.Workers + "</td>"
                        table = table + "<td>" + value.WorkersIdle + "</td>"
                        table = table + "<td style='cursor:pointer' onclick=BusyWorkers('" + value.Priority + "')><a href='#'>" + value.WorkersBusy + "</a></td>"
                        table = table + "<td><a onclick=AddWorkers('" + value.Priority + "') class='btn btn-success btn-xs glyphicon glyphicon-plus' title='Request 25 new workers'></a></td>"
                        table = table + "</tr>"
                });

                $("#stats").html(table);
                var tic = $("#ticker").html();
                tic = Number(tic) + 1
                $("#ticker").html(tic);
            }
            catch (e) { $("#tickerError").html(" ..error refreshing data.");     }
    }

</script>
  

<h3>@Model.ControllerName &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;v @Model.ControllerVersion</h3>
<div class="row">
    <div class="col-sm-9" style=" display: inline-block;">Ticker :</div>
    <div class="col-sm-1" style=" display: inline-block;" id="ticker">1</div>
    <div class="col-sm-1" style=" display: inline-block;color:red" id="tickerError"></div>
    <div class="col-sm-1" style=" display: inline-block;display:none" id="back"><a href="#" onclick="Monitor()">Back</a></div>
</div>
<div class="page-content-wrapper" onload="setupTable()">
    <table style="white-space: nowrap;width:300px" id="stats" class="datatable table">
    </table>
    <table style="white-space: nowrap;width:300px;display:none" id="busy" class="datatable table">

    </table>
    <input type="hidden" id="ControllerName" value="@Model.ControllerName" />
    <input type="hidden" id="ControllerVersion" value="@Model.ControllerVersion" />
    <input type="hidden" id="MaxPriority" value="@Model.MaxPriority" />
</div>



