@{
    Layout = "~/Views/Shared/_Layout.NoFooter.cshtml";
    ViewBag.Title = "All Controllers";
    ViewBag.Current = "Workers";
}
@{ Html.RenderPartial("_ControllersNav"); }

<div id="page-content-wrapper">
    <div class="hero-unit  h3">
        Workers
    </div>
    <hr />
    <div>
        <div class="container-fluid alert alert-redstone">
            <div class="col-sm-offset-2 col-sm-1">Version</div>
            <div class="col-sm-2 text-center">Node</div>
            <div class="col-sm-1 text-center">PID</div>
            <div class="col-sm-3 text-center">Output</div>
        </div>

        @foreach (var item in @Model.Workers)
        {
            <div class="alert alert-default" role="alert"
                 data-toggle="collapse" href="#@item.Controller" aria-expanded="true"
                 aria-controls="@item.Controller">
                <span class="badge badge-info pull-left">@item.Count</span>&nbsp;
                @item.Controller&nbsp;
                <small class="badge badge-info pull-right">@item.Errors</small>
                <small class="pull-right">Errors&nbsp;</small>
            </div>
            <div class="" id="@item.Controller">
                @foreach (var worker in item.WorkerInfos)
                {
                    <div class="container-fluid @(worker.State ? "alert alert-success" : "alert alert-danger")" style="padding: 5px; margin-top: 0.1em; margin-bottom: 0.1em;" role="alert">
                        <div class="col-sm-2" style="display: none;">
                            <button class="btn btn-xs btn-primary glyphicon glyphicon-play"></button>
                            <button class="btn btn-xs btn-danger glyphicon glyphicon-stop"></button>
                        </div>
                        <div class="col-sm-offset-2 col-sm-1">@worker.Version</div>
                        <div class="col-sm-2">@worker.Node</div>
                        <div class="col-sm-1">@worker.Pid</div>
                        <div class="col-sm-3">@worker.Output</div>
                        <div class="col-sm-offset-2 col-sm-1  pull-left badge @(worker.State ? "badge-success" : "badge-danger")">@worker.Status</div>
                    </div>
                }
            </div>
        }
    </div>
</div>