@using System.Xml.Schema
@using Gateway.Web.Models
@using Gateway.Web.Models.Controllers
@model Gateway.Web.Models.ServerResource.ServerResourceModel

@{
    Layout = "~/Views/Shared/_Layout.NoFooter.cshtml";
    ViewBag.Title = "Server Configuration";
   
    }
@{ Html.RenderPartial("_ServerResourcesNav"); }


<div id="page-content-wrapper">
    <div class="hero-unit">
        <h3 class="text-lowercase">@ViewBag.Title</h3>
        <br />
        <div class="row">
            <div class="col-md-8">
                <table class="datatable table report-table select-all-table" id="searchable-table">
                    <thead>
                        <tr>
                            <th style="background: #990505;">Server</th>
                            <th style="background: #990505;">Domain</th>
                            <th style="background: #990505;">CPU Cores</th>
                            <th style="background: #990505;">RAM</th>
                            <th style="background: #990505">Controllers</th>
                        </tr>
                        <tr>
                            <td colspan="5">
                                <div class="col-sm-12" style="padding:0px">
                                    <input class="form-control"
                                           placeholder="search the requests below..."
                                           data-input="quick-search"
                                           data-search-target="#searchable-table tbody > tr"
                                           name="quick-search"
                                           type="text">
                                    <span class="form-control-feedback form-action-clear glyphicon glyphicon-remove input-group-addon form-control "
                                          aria-hidden="true"></span>
                                </div>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.Servers.Count(); i++)
                        {
                        <tr>
                            <td>
                                @Model.Servers[i].Name
                            </td>
                            <td>
                                @Model.Servers[i].Domain
                            </td>
                            <td>
                                @Model.Servers[i].CpuCores
                            </td>
                            <td>
                                @Model.Servers[i].RAM
                            </td>
                            <td>
                            <a href="~/ServerResource/ServerControllers/@Model.Servers[i].Id">
                                <span class="glyphicon glyphicon-th-list"></span>
                            </a>
                            
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
