@using System.Xml.Schema
@using Gateway.Web.Models
@using Gateway.Web.Models.Controllers
@model Gateway.Web.Models.ServerResource.ResourceConfigModel

@{
    Layout = "~/Views/Shared/_Layout.NoFooter.cshtml";
    ViewBag.Title = "Server Resource";
    ViewBag.Current = Model.ConfigType + " Configuration";

    string selected = "";

    string deleteBase = "Delete" + @Model.ConfigType;
}
@{ Html.RenderPartial("_ServerResourcesNav"); }

<script type="text/javascript">

   


</script>

<div id="page-content-wrapper">
    <div class="hero-unit">

        @foreach (ItemResourceConfig config in Model.Configs)
        {
            <div class="row">
                <h4>@config.DisplayName</h4>
                

              
            </div>
            <div class="row">
                <div  class="col-sm-3" > 
                @{
                    var allResources = Model.AllResources.Select(ar => ar.Name);
                    var filteredList = allResources.Except(config.AllowableResources.Select(ar => ar.Name));

                    if (filteredList.Any())
                    {
                        var listItems = filteredList.Select(f => new SelectListItem {Text = f, Value = f});
                        @Html.DropDownListFor(c => selected, listItems, "", new {@class = "server-resource-dropdown form-control", @type_name = Model.ConfigType, config_name = @config.Name})
                    }
                }

                </div>
                <div class="col-sm-4 server-resource-button" id="add-@config.Name">
                    <a href="~/ServerResource/AddServer/" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    
                    </a>
                </div>
            </div>


                <div class="row m-t-15">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <table class="datatable table report-table" id="searchable-table">
                            <thead>
                            <tr>
                                <td>Resource Name</td>
                                <td>Resource Type</td>
                                <td></td>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var allowableResource in config.AllowableResources.OrderBy(al => al.Type).ThenBy(al => al.Name))
                            {
                                <tr>

                                    <td>@allowableResource.Name</td>
                                    <td>@allowableResource.Type</td>
                                    <td>
                                        <a href='@string.Format("{0}/{1}/{2}", @deleteBase ,@config.Name,@allowableResource.Name )' class='text-center glyphicon glyphicon-trash'></a>
                                    </td>
                                </tr>
                            }

                            </tbody>
                        </table>
                    </div>
                </div>
                }

            </div>
</div>
