@using Gateway.Web.Utils
@model Gateway.Web.Models.Schedule.Output.ScheduleViewModel

@{
    Layout = "~/Views/Shared/_Layout.NoFooter.cshtml";
    ViewBag.Title = "Configuration";
    ViewBag.Current = "Schedule";
}
@{ Html.RenderPartial("_BatchConfigNav"); }

<div id="page-content-wrapper">
    <div class="hero-unit">

        <div class="row">
            <div class="col-sm-6">
                <h3 class="text-lowercase">
                    Schedule <small id="businessDate" data-date="@Model.BusinessDate.ToString("yyyy-MM-dd")">@Model.BusinessDate.ToString("yyyy-MM-dd")</small>
                </h3>
            </div>
            <div class="col-sm-6">
                <a href="~/Schedule/Update"
                   class="btn btn-default pull-right m-t-15">
                    Edit Schedule
                </a>
            </div>
        </div>

        <div class="row m-t-15">
            <div class="col-sm-12">
                @using (@Html.BeginForm("Index", "Schedule", FormMethod.Get))
                {
                    <div class="form-group">
                        @Html.Label("Search")
                        <div class="input-group">
                            @Html.Hidden("BusinessDate", Model.BusinessDate.ToString("yyyy-MM-dd"))
                            @Html.TextBoxFor(m => m.SearchTerm, new { @name = "searchTerm", @class = "form-control", @placeholder = "Search for batch...", @style = "margin-top: 0 !important" })
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit" style="margin: 0 !important">
                                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                </button>
                                <button type="button" class="btn btn-default dropdown-toggle" style="margin: 0 !important; border-left: 0 !important" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Additional Filters ...
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="~/Schedule?businessDate=@Model.BusinessDate.ToString("yyyy-MM-dd")&SearchTerm=status%3Afailed">Only Failed Runs</a></li>
                                    <li><a href="~/Schedule?businessDate=@Model.BusinessDate.ToString("yyyy-MM-dd")&SearchTerm=status%3Asucceeded">Only Succeeded Runs</a></li>
                                </ul>
                            </span>
                        </div>
                    </div>
                }
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div id="paginator" data-current-date="@Model.BusinessDate.ToString("yyyy-MM-dd")"></div>
            </div>
        </div>

        <div class="row m-t-15">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <input type="hidden" id="pollResults" value="true" />
                @if (!Model.Groups.Groups.Any())
                {
                    <div style="text-align: center">
                        <h4>There are no tasks scheduled for <b>@Model.BusinessDate.ToString("yyyy-MM-dd")</b></h4>
                    </div>
                }
                else
                {
                    foreach (var batch in Model.Groups.Groups.Where(x => x.Tasks.Any()))
                    {
                        var url = @Url.Content("~/Schedule/Group/Rerun/" + @batch.GroupId + "/" + @Model.BusinessDate.ToString("yyyy-MM-dd") + "?searchTerm=" + @Model.SearchTerm);
                        var urlStop = @Url.Content("~/Schedule/Group/Stop/" + @batch.GroupId + "/" + @Model.BusinessDate.ToString("yyyy-MM-dd") + "?searchTerm=" + @Model.SearchTerm);
                        <div class="panel panel-primary" style="border-color: #990505">
                            <div class="panel-heading" style="background: #990505; border-color: #990505">
                                @batch.FriendlyScheduleDescription
                                <button type="button" class="btn btn-default btn-xs pull-right" style="margin: 0 !important" onclick="rerunTask('@url')" id="runall-@batch.GroupId">Rerun All</button>
                                <button type="button" class="btn btn-default btn-xs pull-right" style="margin: 0 !important" onclick="stopTask('@urlStop')" id="stopall-@batch.GroupId">Stop All</button>
                            </div>
                            <div class="panel-body" id="batch-group-view-batch.GroupId">
                                <div class="row" style="padding-left: 15px; padding-right: 15px;">
                                    @if (batch.Tasks.Any())
                                    {
                                        <table class="batch-table" style="width: 100%; border: none !important;">
                                            @foreach (var item in batch.Tasks)
                                            {
                                                var taskUrl = @Url.Content("~/Schedule/Rerun/" + @item.ScheduleId + "/" + @Model.BusinessDate.ToString("yyyy-MM-dd"));
                                                var taskUrlStop = @Url.Content("~/Schedule/Stop/" + @item.ScheduleId + "/" + @Model.BusinessDate.ToString("yyyy-MM-dd"));
                                                var taskUrlNoChildren = @Url.Content("~/Schedule/Rerun/" + @item.ScheduleId + "/" + @Model.BusinessDate.ToString("yyyy-MM-dd")) + "/SkipChildren";
                                                var metricsUrl = string.Format(MvcApplication.MetricsUrlTemplate, item.ScheduleId);

                                                <tr title="@item.Type: @item.Name" class="batch-schedule-container" style="padding: 20px !important;" data-tt-branch="@item.HasChildren" data-tt-id="@item.ScheduleId" data-tt-parent-id="@item.ParentId">
                                                    <td style="width: 40%;">
                                                        @if (item.Type.ToLower() == "request")
                                                        {
                                                            <span class="label label-danger" style="padding: 2px !important;">@item.Type</span>
                                                        }
                                                        else if (item.Type.ToLower() == "executable")
                                                        {
                                                            <span class="label label-warning" style="padding: 2px !important;">@item.Type</span>
                                                        }
                                                        else
                                                        {
                                                            <span class="label label-info" style="padding: 2px !important;">@item.Type</span>
                                                        }

                                                        <span class="m-l-5" style="margin-top: 2px" id="@item.Key">
                                                            @if (item.IsLive)
                                                            {
                                                                <span class="label" style="color: red; padding: 2px !important;">LIVE</span>
                                                            }
                                                            @item.Name.Truncate(45)
                                                        </span>
                                                    </td>
                                                    <td style="width: 25%;">
                                                        <span id="timing-@item.ScheduleId"></span>
                                                    </td>
                                                    <td style="width: 15%;">
                                                        <span id="status-@item.ScheduleId"></span>
                                                    </td>
                                                    <td style="width: 15%;">
                                                        <div class="btn-group btn-group-xs pull-right">
                                                            <button type="button" class="btn btn-default" style="margin: 0 !important" onclick="stopTask('@taskUrlStop')" id="stop-@item.ScheduleId">Stop</button>
                                                            <button type="button" class="btn btn-default" style="margin: 0 !important" onclick="rerunTask('@taskUrl')" id="run-@item.ScheduleId">Rerun</button>
                                                            <button type="button" class="btn btn-default dropdown-toggle" style="margin: 0 !important; border-left: 0 !important" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">...</button>
                                                            <ul class="dropdown-menu">
                                                                @if (item.IsBatch)
                                                                {
                                                                    <li>
                                                                        <a target="_blank" href="~/Schedule/RunCustom/@item.ScheduleId/@Model.BusinessDate.ToString("yyyy-MM-dd")">Rerun custom...</a>
                                                                    </li>
                                                                    <li>
                                                                        <a target="_blank" href="~/Controller/History/RiskBatch?search=@item.ScheduleId&searchResultsText=@item.Name">View History</a>
                                                                    </li>
                                                                    <li>
                                                                        <a target="_blank" href="~/Schedule/History?sid=@item.ScheduleId&name=@item.Name">View Timing History</a>
                                                                    </li>
                                                                    <li>
                                                                        <a target="_blank" href="@metricsUrl">View Metrics</a>
                                                                    </li>
                                                                }
                                                                else
                                                                {
                                                                    <li>
                                                                        <a target="_blank" href="~/Controller/History/@item.RequestSearchController?search=@item.RequestSearchString">View History</a>
                                                                    </li>
                                                                    <li>
                                                                        <a target="_blank" href="~/Schedule/History?sid=@item.ScheduleId&name=@item.Name">View Timing History</a>
                                                                    </li>
                                                                    <li>
                                                                        <a onclick="rerunTask('@taskUrlNoChildren')">Run (Ignore Child Tasks)</a>
                                                                    </li>
                                                                }
                                                                <li role="separator" class="divider"></li>
                                                                <li>
                                                                    <a target="_blank" href="~/Schedule/@item.Type/Update/@item.ScheduleId">Edit</a>
                                                                </li>

                                                            </ul>
                                                        </div>
                                                    </td>
                                                </tr>
                                            }
                                        </table>
                                    }
                                    else
                                    {
                                        <div class="col-sm-12 text-center">
                                            There are no batches assigned to this group.<br />
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                }

            </div>
        </div>
    </div>
</div>