@using Gateway.Web.Models.Controller
@{
    Layout = "~/Views/Shared/_Layout.NoFooter.cshtml";
    ViewBag.Title = "Controller";
    ViewBag.Current = "Queues";
}
@{ Html.RenderPartial("_ControllerNav", (BaseControllerModel)@Model); }

<div id="page-content-wrapper">
    <div class="hero-unit">
        <h3 class="text-lowercase">Current Queues</h3>
        <br />
        <div class="container-fluid alert alert-redstone">
            <div class="col-sm-1">Server</div>
            <div class="col-sm-3 text-center">Version</div>
            <div class="col-sm-3 text-center">Last Enqueue</div>
            <div class="col-sm-3 text-center">Last Dequeue</div>
            <div class="col-sm-1 text-center">Count</div>
            <div class="col-sm-1 text-center">Workers</div>
        </div>

        @foreach (QueueModel version in Model.Current)
        {
            <div class="container-fluid">

                <div class="col-sm-1">@version.Server</div>
                <div class="col-sm-3 text-center">@version.Version</div>
                <div class="col-sm-3 text-center">@version.LastEnqueue</div>
                <div class="col-sm-3 text-center">@version.LastDequeue</div>
                <div class="col-sm-1 text-center">@version.Length</div>
                <div class="col-sm-1 text-center">@version.Workers</div>
            </div>
        }
        <br />
        <br />
        <br />
        <h3 class="text-lowercase">History</h3>
        <br />
        <div>
            <img src="~/Controller/QueueChart?id=@Model.Name&date=@Model.HistoryStartTime.ToString("yyyyMMdd")" />
        </div>
        <br />

        <div class="container-fluid alert alert-redstone">

            <div class="col-sm-1">Version</div>
            <div class="col-sm-3 text-center">Time</div>
            <div class="col-sm-3 text-center">Last Enqueue</div>
            <div class="col-sm-3 text-center">Last Dequeue</div>
            <div class="col-sm-2 text-center">Count</div>

        </div>

        @foreach (QueueCount version in Model.Queues.AllItems)
        {
            <div class="container-fluid">

                <div class="col-sm-1">@version.Version</div>
                <div class="col-sm-3 text-center">@version.Time</div>
                <div class="col-sm-3 text-center">@version.LastEnqueue</div>
                <div class="col-sm-3 text-center">@version.LastDequeue</div>
                <div class="col-sm-2 text-center">@version.Count</div>

            </div>
        }
    </div>
</div>