@using Gateway.Web.Database
@using Gateway.Web.Models
@using Gateway.Web.Models.Controller
@using Gateway.Web.Utils
@using Newtonsoft.Json
@using Version = Gateway.Web.Models.Controller.Version
@{
    Layout = "~/Views/Shared/_Layout.NoFooter.cshtml";
    ViewBag.Title = "Controller";
    ViewBag.Current = "Versions";
}
@{ Html.RenderPartial("_ControllerNav", (BaseControllerModel)@Model); }

<div id="page-content-wrapper">
    <div class="hero-unit">

        <h3>Versions</h3>

        under construction - this page will show all versions with their status. Modification
        of version status will also be done here.

        <br />

        <div id="list-meta">
            <ul>
                @foreach (Version item in Model.Versions)
                {
                    <li>
                        @if (item.IsActive)
                        {
                            <span style="color:DarkBlue">
                                <b>
                                    @item.Alias
                                    @item.Name
                                    <span>-</span>
                                    @item.Status
                                </b>
                            </span>
                        }
                        else
                        {
                            <span style="color:gray">
                                @item.Alias
                                @item.Name
                                <span>-</span>
                                @item.Status
                            </span>
                        }

                    </li>
                }
            </ul>
        </div>

        <br />

    </div>
</div>