@using Gateway.Web.Models.Controller
@using Version = Gateway.Web.Models.Controller.Version
@{
    Layout = "~/Views/Shared/_Layout.NoFooter.cshtml";
    ViewBag.Title = "Controller";
    ViewBag.Current = "Versions";
}
@{ Html.RenderPartial("_ControllerNav", (BaseControllerModel)@Model); }


<div id="page-content-wrapper">
    <div class="hero-unit">

        <h3 class="text-lowercase">Versions</h3>
        <br />
        @{
            if (Model.UpdateResults != null)
            {
                foreach (var result in Model.UpdateResults)
                {
                    <strong style="color: darkblue">@result</strong><br/>
                }
                <br/>
            }
        }

        <div id="list-meta">
            @using (Html.BeginForm("UpdateVersionStatuses", "Controller", FormMethod.Post, new {enctype = "multipart/form-data"}))
            {

                List<SelectListItem> listItems = new List<SelectListItem>();
                listItems.Add(new SelectListItem
                {
                    Value = Model.Name,
                    Text = Model.Name,
                    Selected = true
                });


                @Html.DropDownList(
                    "_id",
                    listItems,
                    new {@class = "form-control", @style = "display:none"}
                    )
                <table style="width: 100%; white-space: nowrap" class="datatable">
                    <thead>
                    <tr>
                        <td>Version</td>
                        <td>Alias</td>
                        <td>Status</td>
                        <td>Delete
                            @*<input type="checkbox" name="select-all" id="select-all" />*@
                            @*<small><a href="" style="color: white">(select all)</a></small>*@
                        </td>
                    </tr>
                    </thead>

                    @foreach (Version item in Model.Versions)
                    {
                        if (item.Status != "Deleted")
                        {
                            <tr style="background: white">
                                @if (item.IsActive)
                                {
                                    <span style="color: DarkBlue">
                                        <td>@item.Name</td>
                                        <td>@Html.TextBox(@item.Name + "_Alias", item.Alias, new { @class = "form-control" })</td>
                                        <td>@Html.DropDownList(@item.Name + "_StatusSelection", item.ApplicableStatuses, new {@class = "form-control"})</td>
                                        <td></td>
                                    </span>
                                }
                                else if (item.Status == "Disabled")
                                {
                                    <span style="color: indianred">
                                        <td>@item.Name</td>
                                        <td>@Html.TextBox(@item.Name + "_Alias", item.Alias, new { @class = "form-control" })</td>
                                        <td>@Html.DropDownList(@item.Name + "_StatusSelection", item.ApplicableStatuses, new {@class = "form-control"})</td>
                                        <td>@Html.CheckBox(@item.Name + "_Delete")</td>
                                    </span>
                                }
                                else
                                {
                                    <span style="color: gray">
                                        <td>@item.Name</td>
                                        <td>@Html.TextBox(@item.Name + "_Alias", item.Alias, new { @class = "form-control" })</td>
                                        <td>@Html.DropDownList(@item.Name + "_StatusSelection", item.ApplicableStatuses, new {@class = "form-control"})</td>
                                        <td></td>
                                    </span>
                                }
                            </tr>
                        }
                    }
                </table>
                <br/>

                <button class="btn btn-default btn-sm" type="submit" i="submit">
                    Update
                </button>
            }
        </div>
        <br/>
    </div>
</div>