@using Gateway.Web.Enums
@using Gateway.Web.Models.Home
@using Gateway.Web.Models.Monitoring
@model Gateway.Web.Database.BatchDetail
@{
    Layout = "~/Views/Shared/_Layout.NoFooter.cshtml";
    ViewBag.Title = "Risk Data";
    ViewBag.Current = "Risk Batches";
}
@{ Html.RenderPartial("_MonitoringNav"); }
<style>
    .execution-value {
        font-size: 14px;
        font-weight: bold;
    }

    .execution-label {
        font-size: 14px;
        padding-right: 10px;
    }

    .execution-header { font-weight: bold; }

    .link-button {
        color: #007bff;
        cursor: pointer;
    }

    .link-button:hover {
        color: #0056b3;
        text-decoration: underline;
    }
</style>

<div id="page-content-wrapper">
    <div class="hero-unit" style="padding: 20px;">

        <div class="row">
            <div class="col-sm-12">
                <h3>@Model.BatchName.Replace("-"," - ") <small>@Model.ValuationDate.Year/@Model.ValuationDate.Month/@Model.ValuationDate.Day</small></h3>
            </div>
        </div>

        @foreach (var execution in Model.BatchExecutions)
        {
            <div>
                <div class="row m-t-15">
                    <div class="col-sm-3">
                        <div class="alert alert-success" role="alert" style="margin: 0 !important;">
                            <div class="row">
                                <div class="col-sm-12">
                                    <span class="execution-header">Execution</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 execution-label">Start Date</div>
                                <div class="col-sm-6 execution-value">@execution.Summary.StartTime.ToString("yy-MM-dd")</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 execution-label">Start Time</div>
                                <div class="col-sm-6 execution-value">@execution.Summary.StartTime.ToString("HH:mm")</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 execution-label">Duration</div>
                                <div class="col-sm-6 execution-value">@execution.Summary.Duration</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 execution-label">Trade(s)</div>
                                <div class="col-sm-6 execution-value">@execution.Summary.TradeCount</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 execution-label">Error(s)</div>
                                <div class="col-sm-6 execution-value">@execution.Summary.TotalErrorCount</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 execution-label">Controller</div>
                                <div class="col-sm-6 execution-value">@execution.Summary.Controller</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 execution-label">Version</div>
                                <div class="col-sm-6 execution-value">@execution.Summary.ControllerVersion</div>
                            </div>
                            <hr>
                            <a class="btn btn-default btn-sm" target="_blank"
                               href="~/Request/Summary?correlationId=@execution.Summary.RequestCorrelationId">
                                View more details
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-9">
                        @if (execution.Issues.Any())
                        {
                            foreach (var issue in execution.Issues.OrderByDescending(x => x.OccurenceCount))
                            {
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="alert alert-default" role="alert" style="margin-top: 0 !important; margin-bottom: 20px; padding: 20px">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <span class="execution-header">Error</span>
                                                </div>
                                            </div>
                                            <div class="row" *ngIf="issue.Issue.Controller !== null">
                                                <div class="col-sm-2">
                                                    <small>CONTROLLER</small>
                                                </div>
                                                <div class="col-sm-10">
                                                    @issue.Issue.Controller
                                                </div>
                                            </div>
                                            <div class="row" *ngIf="issue.Issue.ControllerVersion !== null">
                                                <div class="col-sm-2">
                                                    <small>VERSION</small>
                                                </div>
                                                <div class="col-sm-10">
                                                    @issue.Issue.ControllerVersion
                                                </div>
                                            </div>
                                            <div class="row" *ngIf="issue.Issue.Resource !== null">
                                                <div class="col-sm-2">
                                                    <small>REQUEST</small>
                                                </div>
                                                <div class="col-sm-10">
                                                    @issue.Issue.Resource
                                                </div>
                                            </div>
                                            <div class="row" *ngIf="issue.OccurenceCount > 0">
                                                <div class="col-sm-2">
                                                    <small>OCCURRENCE(S)</small>
                                                </div>
                                                <div class="col-sm-10">
                                                    @issue.OccurenceCount
                                                    <span class="link-button" style="padding: 0;">
                                                        <a class="monitoring-report-trigger" data-group-trigger="show-@issue.Issue.Id">[+]</a>
                                                    </span>
                                                    <div id="collapseOccurrences" class="report-table-detail-row-hidden show-@issue.Issue.Id">
                                                        @foreach (var occurrence in issue.Occurences)
                                                        {
                                                            <div>
                                                                <a target="_blank"
                                                                   href="~/Request/Summary?correlationId=@occurrence">
                                                                    View more details for occurrence</a>
                                                            </div>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-2">
                                                    <small>ERROR</small>
                                                </div>
                                                <div class="col-sm-10">
                                                    @issue.Issue.ErrorMessage
                                                </div>
                                            </div>
                                            <div class="row m-t-5">
                                                <div class="col-sm-12">
                                                    <div class="alert alert-danger" role="alert" style="margin: 0 !important">
                                                        <div style="max-height: 150px; overflow-y: auto;">
                                                            @if (@issue.Issue.ErrorDescription == null)
                                                            {
                                                                @issue.Issue.ErrorMessage
                                                                <br/>
                                                                <span>No further details provided.</span>
                                                            }
                                                            else
                                                            {
                                                                @issue.Issue.ErrorDescription
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            <div class="alert alert-warning" role="alert">
                                No issues could be found for this execution.
                            </div>  
                        }
                    </div>
                </div>

                <hr class="mt-4"/>
            </div>
        }
    </div>
</div>