@using Gateway.Web.Enums
@using Gateway.Web.Models.Monitoring
@using Gateway.Web.Utils
@model RiskReportMetricsViewModel
@{
    Layout = "~/Views/Shared/_Layout.NoFooter.cshtml";
    ViewBag.Title = "Monitoring";
    ViewBag.Current = "Risk Reports";
}
@{ Html.RenderPartial("_MonitoringNav"); }
<div id="page-content-wrapper">
    <div class="hero-unit">

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h3 class="text-lowercase">Risk Reports</h3>
            </div>
        </div>
        
        <div id="report-content">
            <div class="m-t-15">
                @foreach (var application in Model.Metrics.GroupBy(x => x.System))
                {
                    var reports = application.ToList().OrderBy(x => x.ReportCategory).ThenBy(x => x.ReportSubCategory).ToList();

                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <h4 class="text-lowercase">
                                <b>@application.Key</b> <small>@Model.BusinessDate.ToString("yyyy-MM-dd")</small>
                            </h4>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <table class="datatable table report-table" id="searchable-table">
                                <thead>
                                <tr>
                                    <td colspan="4">Report Details</td>
                                    <td colspan="3" class="center-text">Data Counts</td>
                                </tr>
                                <tr>
                                    <td class="table-header"></td>
                                    <td class="table-header">Category</td>
                                    <td class="table-header">Sub-Category</td>
                                    <td class="table-header">Name</td>
                                    <td class="table-header center-text">T-2</td>
                                    <td class="table-header center-text">T-1</td>
                                    <td class="table-header center-text">Status</td>
                                </tr>
                                </thead>
                                <tbody>
                                @for (var index = 0; index < reports.Count; index++)
                                {
                                    var report = reports.ElementAt(index);
                                    var color = @report.Status.GetStatusColor();

                                    <tr class="report-table-summary-row">
                                        <td><a class="monitoring-report-trigger" data-group-trigger="@report.Identifier.Replace(" ","-")">[+]</a></td>
                                        <td>
                                            @report.ReportCategory
                                        </td>
                                        <td>
                                            @report.ReportSubCategory
                                        </td>
                                        <td>
                                            <span style="color: @color">
                                                <b>
                                                    @report.ReportName
                                                    @if (@report.Metrics.Count > 1)
                                                    {
                                                        <span>(</span>@report.Metrics.Count<span>)</span>
                                                    }
                                                </b>
                                            </span>
                                        </td>
                                        <td class="center-text">
                                            <span style="color: @color"><b>@report.PreviousResultsCount</b></span>
                                        </td>
                                        <td class="center-text">
                                            <span style="color: @color"><b>@report.ResultCount</b></span>
                                        </td>
                                        <td class="center-text">
                                            <span style="color: @color"><b>@report.Status</b></span>
                                        </td>
                                    </tr>

                                    foreach (var metric in report.Metrics)
                                    {
                                        var subReportColor = metric.Status.GetStatusColor();
                                        <tr class="report-table-detail-row report-table-detail-row-hidden @report.Identifier.Replace(" ","-")">
                                            <td>
                                                &nbsp;
                                            </td>
                                            <td>
                                                &nbsp;
                                            </td>
                                            <td>
                                                &nbsp;
                                            </td>
                                            <td>
                                                @foreach (var parameter in @metric.Parameters) 
                                                { 
                                                    <span>
                                                        <b>@parameter.Key</b>
                                                        <span>:</span> 
                                                        @parameter.Value 
                                                    </span>
                                                    <br/> 
                                                } 
                                            </td>
                                            <td class="center-text">
                                                @if (metric.PreviousResults == null) 
                                                { 
                                                    <span></span> 
                                                } 
                                                else if (metric.PreviousResults != null && metric.PreviousResults.RowCount.HasValue) 
                                                { 
                                                    <a href="~/Request/Summary?correlationId=@metric.PreviousResults.CorrelationId">@metric.PreviousResults.RowCount</a> 
                                                    <br/> 
                                                    @metric.PreviousResults.Timing 
                                                } 
                                                else if (!string.IsNullOrWhiteSpace(metric.PreviousResults.CorrelationId)) 
                                                { 
                                                    <a href="~/Request/Summary?correlationId=@metric.PreviousResults.CorrelationId"> 
                                                        ERROR 
                                                    </a> 
                                                } 
                                                else 
                                                { 
                                                    <span>ERROR</span> 
                                                } 
                                            </td>
                                            <td class="center-text">
                                                @if (metric.Results == null) 
                                                { 
                                                    <span></span> 
                                                } 
                                                else if (metric.Results != null && metric.Results.RowCount.HasValue) 
                                                { 
                                                    <a href="~/Request/Summary?correlationId=@metric.Results.CorrelationId">@metric.Results.RowCount</a> 
                                                    <br/> 
                                                    @metric.Results.Timing 
                                                } 
                                                else if (!string.IsNullOrWhiteSpace(metric.Results.CorrelationId)) 
                                                { 
                                                    <a href="~/Request/Summary?correlationId=@metric.Results.CorrelationId"> 
                                                        ERROR 
                                                    </a> 
                                                } 
                                                else 
                                                { 
                                                    <span>ERROR</span> 
                                                }                                             
                                            </td>
                                            <td class="center-text">
                                                <span style="color: @subReportColor"><b>@metric.Status</b></span>
                                            </td>
                                        </tr>

                                    }
                                }
                                </tbody>
                            </table>
                        </div>
                    </div>
                }
            </div>
            
        </div>

    </div>
</div>