<!-- Sidebar -->
<div id="sidebar-wrapper">
    <br />
    <div style="margin-left: 10px; height: 50px">
        <div style="float: left">
            <img class="sidebar-img" src="@Url.Content(MvcApplication.ControllerIcon)" style="height: 48px">
        </div>
        <div style="float: left; margin-top: 5px">
            <span class="sidebar-title">@ViewBag.Title</span><br/>
            <span class="sidebar-subtitle">@ViewBag.Current</span>
        </div>
    </div>

    <div class="sidebar-navheader">
        <strong>DETAILS</strong>
    </div>

    <ul class="sidebar-nav">
        <li>
            <a href="~/User/Details/@Model.Id/"
               class="@(ViewBag.Current == "Details" ? "active" : "")">
                <span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Details
            </a>
        </li>
        <li>
            <a href="~/User/Groups/@Model.Id/"
               class="@(ViewBag.Current == "Groups" ? "active" : "")">
                <span class="glyphicon glyphicon-folder-close"></span>&nbsp;&nbsp;Groups
            </a>
        </li>
        <li>
            <a href="~/User/Portfolios/@Model.Id/"
               class="@(ViewBag.Current == "Portfolios" ? "active" : "")">
                <span class="glyphicon glyphicon-tree-conifer"></span>&nbsp;&nbsp;Portfolios
            </a>
        </li>
        <li>
            <a href="~/User/Sites/@Model.Id/"
               class="@(ViewBag.Current == "Sites" ? "active" : "")">
                <span class="glyphicon glyphicon-globe"></span>&nbsp;&nbsp;Sites
            </a>
        </li>
        <li>
            <a href="~/User/AddIns/@Model.Id/"
               class="@(ViewBag.Current == "AddIns" ? "active" : "")">
                <span class="glyphicon glyphicon-retweet"></span>&nbsp;&nbsp;Applications
            </a>
        </li>

        <li>
            <a href="~/User/History?id=0&login=@Model.Login"
               class="@(ViewBag.Current == "History" ? "active" : "")">
                <span class="glyphicon glyphicon-transfer"></span>&nbsp;&nbsp;History
            </a>
        </li>
    </ul>

    <div class="sidebar-navheader">
        <strong>NAVIGATION</strong>
    </div>

    <ul class="sidebar-nav">
        <li>
            <a href="~/Security/Users">
                <span class="glyphicon glyphicon-circle-arrow-left"></span>&nbsp;&nbsp;All Users
            </a>
        </li>
    </ul>
</div>
<!-- /#sidebar-wrapper -->
