@using Gateway.Web.Database
@using Gateway.Web.Models
@using Gateway.Web.Models.Controller
@using Gateway.Web.Models.Group
@using Gateway.Web.Models.Shared
@model Gateway.Web.Models.User.PortfoliosModel
@{
    Layout = "~/Views/Shared/_Layout.NoFooter.cshtml";
    ViewBag.Title = "User: " + @Model.Login;
    ViewBag.Current = "Portfolios";
}
@{ Html.RenderPartial("_UserNav", @Model); }

<div id="page-content-wrapper">

    <div class="hero-unit">
        <h3 class="text-lowercase">Portfolios</h3>
        <div class="containerx bulk">
            @Html.ValidationSummary(false, "", new {@class = "text-danger"})

            <table style="width: 100%; white-space: nowrap" class="datatable">
                <thead>
                    <tr>
                        <td></td>
                        <td>Level</td>
                        <td>
                            Name
                            <a class="btn btn-default btn-xs glyphicon glyphicon-plus pull-right"
                               data-target=".add-modal"
                               data-toggle="modal">
                            </a>
                        </td>
                    </tr>
                </thead>
                @foreach (PortfolioModel item in Model.Portfolios)
            {
                    <tr>
                        <td>
                            @Html.ActionLink(" ", "RemovePortfolio", "User", new { userId = @Model.Id, portfolioId = item.Id }, new { @class = "text-center glyphicon glyphicon-trash" })
                        </td>
                        <td>@item.Level</td>
                        <td>@item.Name</td>
                    </tr>
                }
            </table>
            <br />
        </div>

        <div class="hero-unit">
            <h3 class="text-lowercase">Portfolios inherited from groups</h3>
        </div>

        <div class="containerx bulk">
            <table style="width: 100%; white-space: nowrap" class="datatable">
                <thead>
                    <tr>
                        <td>Level</td>
                        <td>Name</td>
                    </tr>
                </thead>
                @foreach (PortfolioModel item in Model.InheritedPortfolios)
            {
                    <tr>
                        <td>@item.Level</td>
                        <td>@item.Name</td>
                    </tr>
                }
            </table>
            <br />
        </div>
        <br />

        @using (Html.BeginForm("Portfolios", "User", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            <div class="modal fade add-modal" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title" id="myModalLabel">Add Portfolios</h4>
                        </div>

                        <div class="modal-body">
                            @Html.AntiForgeryToken()

                            <!-- Hidden Id Field -->
                            @Html.TextBox("_id", Model.Id, new {@class = "form-control", @style = "display:none"})

                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-2">
                                        <label class="control-label">Portfolio</label>
                                    </div>
                                    <div class="col-md-4">
                                        @Html.DropDownList("_portfolio", @Model.AvailablePortfolios, new {@class = "form-control"})
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-default">Add</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>