@model Gateway.Web.Models.Interrogation.RiskBatchModel
@{
    Layout = "~/Views/Shared/_Layout.NoFooter.cshtml";
    ViewBag.Title = "Interrogation";
    ViewBag.Current = "Risk Batch";
}
@{ Html.RenderPartial("_InterrogationNav", @Model); }

<div id="page-content-wrapper">
    <div class="hero-unit">

        <h3 class="text-lowercase">Risk Batch Interrogation</h3>
        <br />

        <!-- Parameter Input -->
        @using (Html.BeginForm("Details", "Interrogation", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            <div class="info-block">
                <div>
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })

                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-2">
                                <label class="control-label">Batch Name</label>
                            </div>
                            <div class="col-md-4">
                                @Html.TextBox("batch", Model.Name, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <label class="control-label">Date</label>
                            </div>
                            <div class="col-md-4">
                                @Html.TextBox("date", Model.ReportDate.ToString("yyyy-MM-dd"), new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="col-md-offset-2 col-md-4">
                            <button class="btn btn-default btn-sm" type="submit" i="submit">
                                Show
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        }
        <br />

        <div class="containerx bulk">
            
            @foreach (var table in Model.Report.Tables)
            {
                <h4>@table.GetAttribute("Title")</h4>

                <table style="width: 100%; white-space: nowrap" class="datatable">
                    <thead>
                    <tr>
                        @{ var pivot = bool.Parse((table.GetAttribute("PivotColumnHeaders") ?? "false").ToString()); }

                        @foreach (var col in @table.ColumnDefinitions)
                        {
                            if (pivot)
                            {
                                <th class="rotate">
                                    <div>
                                        <span>@col.Name</span>
                                    </div>
                                </th>
                            }
                            else
                            {
                                <td>@col.Name</td>
                            }
                        }
                    </tr>
                    </thead>
                    @foreach (var row in table.GetRows())
                    {
                        <tr>
                            @foreach (object val in @row.GetValues())
                            {
                                <td>@val</td>
                            }
                        </tr>
                    }
                </table>
                <br />
                <br />
            }

        </div>

        <br />

    </div>
</div>
