@using System.Xml.Schema
@using Gateway.Web.Models
@using Gateway.Web.Models.Controllers
@using System.Web.UI.WebControls
@using Gateway.Web.Models.Controller
@using Gateway.Web.Models.Reporting
@{
    Layout = "~/Views/Shared/_Layout.Reports.cshtml";
    ViewBag.Title = "PFE";
}

<div class="row">

    <h3>PFE Report</h3>

    <br />
    under construction
    <br />

    @foreach (PfeSite site in Model.Items)
    {
        <h3>@site.Site</h3>

        <table class="datatable">
            <thead>
            <tr>
                <td><b>Counterparty</b></td>
                <td><b>Values</b></td>
                <td><b>0D</b></td>
                <td><b>3D</b></td>
                <td><b>1W</b></td>
                <td><b>2W</b></td>
                <td><b>3W</b></td>
                <td><b>1M</b></td>
                <td><b>2M</b></td>
                <td><b>1Y</b></td>
                <td><b>2Y</b></td>
                <td><b>3Y</b></td>
                <td><b>4Y</b></td>
                <td><b>etc</b></td>
            </tr>
            </thead>
            @foreach (XvaResult result in @site.Items)
            {
                <tr>
                    <td style="max-width: 200px; overflow: hidden; text-overflow: ellipsis;">@result.Counterparty</td>
                    <td>@result.Point_0D.FormattedValue</td>
                    <td>@result.Point_3D.FormattedValue</td>
                    <td>@result.Point_1W.FormattedValue</td>
                    <td>@result.Point_2W.FormattedValue</td>
                    <td>@result.Point_3W.FormattedValue</td>
                    <td>@result.Point_1M.FormattedValue</td>
                    <td>@result.Point_2M.FormattedValue</td>
                    <td>@result.Point_1Y.FormattedValue</td>
                    <td>@result.Point_2Y.FormattedValue</td>
                    <td>@result.Point_3Y.FormattedValue</td>
                    <td>@result.Point_4Y.FormattedValue</td>
                    <td>@result.Point_Other.FormattedValue</td>
                </tr>
            }
        </table>

        <br/>
    }

</div>