@using Gateway.Web.Database
@using Gateway.Web.Models.Controller
@using Gateway.Web.Models.Home
@model List<Gateway.Web.Database.ScheduleGroup>


<div style="padding-left: 10px">
    <table style="width: 100%; white-space: nowrap">
        @foreach (var site in Model)
        {
            <thead>
                <tr>
                    <td colspan="3">
                        <b>
                            @site.Name
                            <span class="state_okay">(@site.CompleteRuns<span>/</span>@site.TotalRuns <span>Complete</span>)</span>
                        </b>
                    </td>
                </tr>
            </thead>

            foreach (var item in site.Items)
            {
                <tr>
                    <td>
                        @if (!string.IsNullOrEmpty(item.Link))
                        {
                            <a class="hoverlink" href="@Url.Content((string) item.Link)">
                                @item.Name
                            </a>
                        }
                        else
                        {
                            <div>
                                @item.Name
                            </div>
                        }
                    </td>
                    <td style="text-align: left; color: #C0C0C0; padding-left: 5px">@item.Time (@item.Duration)</td>
                    <td style="text-align: center; width: 30%">
                        @switch ((StateItemState)item.State)
                        {
                            case StateItemState.Unknown:
                                <div class="state_unknown">@item.Text</div>
                                break;
                            case StateItemState.Okay:
                                <div class="state_okay">@item.Text</div>
                                break;
                            case StateItemState.Warn:
                                <div class="state_warn">@item.Text</div>
                                break;
                            case StateItemState.Error:
                                <div class="state_fail">@item.Text</div>
                                break;
                        }
                    </td>
                </tr>
            }
        }
    </table>
</div>