@model Gateway.Web.Models.Controller.ConfigurationModel
<div class="form-group">
    @Html.AntiForgeryToken()
    <div class="container-fluid">

        <div class="row col-md-12">
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            @Html.HiddenFor(m => m.ControllerId)
        </div>

        <div class="row" hidden="@Model.IsUpdate">
            <div class="col-md-3">
                @Html.LabelFor(m => m.Name, new { @class = "control-label" })
            </div>

            <div class="col-md-4">
                <div class="input-group spinner">
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.Name, new { @name = "Name", @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>

        <div class="row" hidden="@Model.IsUpdate">
            <div class="col-md-3">
                @Html.LabelFor(m => m.Configuration, new { @class = "control-label" })
            </div>

            <div class="col-md-4">
                <div class="input-group spinner">
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.Configuration, new { @name = "Configuration", @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-3">
                @Html.LabelFor(m => m.TimeToLiveSec, new { @class = "control-label" })
            </div>
            <div class="col-md-3">
                <div class="input-group spinner">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-spinner btn-number" data-type="minus" data-field="TimeToLiveSec">
                                <span class="glyphicon glyphicon-minus"></span>
                            </button>
                        </span>

                        @Html.TextBoxFor(m => m.TimeToLiveSec, new { @name = "TimeToLiveSec", @class = "number-spinner input-number", @min = "1", @max = "100000" })

                        <span class="input-group-btn">
                            <button type="button" class="btn btn-spinner btn-number" data-type="plus" data-field="TimeToLiveSec">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-3">
                @Html.LabelFor(m => m.TimeoutMilliSec, new { @class = "control-label" })
            </div>
            <div class="col-md-3">
                <div class="input-group spinner">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-spinner btn-number" data-type="minus" data-field="TimeoutMilliSec">
                                <span class="glyphicon glyphicon-minus"></span>
                            </button>
                        </span>

                        @Html.TextBoxFor(m => m.TimeoutMilliSec, new { @name = "TimeoutMilliSec", @class = "number-spinner input-number", @min = "1", @max = int.MaxValue })

                        <span class="input-group-btn">
                            <button type="button" class="btn btn-spinner btn-number" data-type="plus" data-field="TimeoutMilliSec">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                @Html.LabelFor(m => m.ScalingStrategyId, new { @class = "control-label" })
            </div>
            <div class="col-md-4">
                @Html.EnumDropDownListFor(model => model.ScalingStrategyId, new { @class = "form-control" })
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                @Html.LabelFor(m => m.Weighting, new { @class = "control-label" })
            </div>
            <div class="col-md-3">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-spinner btn-number" data-type="minus" data-field="Weighting">
                            <span class="glyphicon glyphicon-minus"></span>
                        </button>
                    </span>

                    @Html.TextBoxFor(m => m.Weighting, new { @name = "Weighting", @class = "number-spinner input-number", @min = "1", @max = "10000" })

                    <span class="input-group-btn">
                        <button type="button" class="btn btn-spinner btn-number" data-type="plus" data-field="Weighting">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                @Html.LabelFor(m => m.MaxInstances, new { @class = "control-label" })
            </div>
            <div class="col-md-3">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-spinner btn-number" data-type="minus" data-field="MaxInstances">
                            <span class="glyphicon glyphicon-minus"></span>
                        </button>
                    </span>

                    @Html.TextBoxFor(m => m.MaxInstances, new { @name = "MaxInstances", @class = "number-spinner input-number", @min = "1", @max = "10000" })

                    <span class="input-group-btn">
                        <button type="button" class="btn btn-spinner btn-number" data-type="plus" data-field="MaxInstances">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                @Html.LabelFor(m => m.Description, new {@class = "control-label"})
            </div>

            <div class="col-md-3">
                <div class="input-group">
                    @Html.TextAreaFor(m => m.Description, new {@name = "Description"})
                </div>
            </div>

        </div>
        
        

        <div class="col-md-offset-3 col-md-4">
            <img src="../../Content/img/ajax-loader.gif" id="loading"/>
            <button class="btn btn-default btn-sm" type="submit" i="submit">
                Save
            </button>
        </div>

    </div>
</div>