@using Gateway.Web.Models.Controller
@using Gateway.Web.Models.Home
@model List<Gateway.Web.Models.Home.ControllerState>

<table style="width: 100%; white-space: nowrap">
    <tr>
        <th>Controller</th>
        <th style="text-align: center">Requests</th>
        <th style="text-align: center">Workers</th>
        <th style="text-align: center">Status</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @if (!string.IsNullOrEmpty(item.Link))
                {
                    <a class="hoverlink" href="@Url.Content((string) item.Link)">@item.Name</a>
                }
                else
                {
                    <div>@item.Name</div>
                }
            </td>
            <td style="text-align: center; color: #C0C0C0">
                @item.ProcessingRequestCount / @item.TotalRequestCount
            </td>
            <td style="text-align: center; color: #C0C0C0">
                @item.BusyWorkerCount / @item.TotalWorkerCount
            </td>
            <td style="text-align: center; width: 20%">
                @switch ((StateItemState) item.State)
                {
                    case StateItemState.Unknown:
                        <div class="state_unknown">@item.Text</div>
                        break;
                    case StateItemState.Okay:
                        <div class="state_okay">@item.Text</div>
                        break;
                    case StateItemState.Warn:
                        <div class="state_warn">@item.Text</div>
                        break;
                    case StateItemState.Error:
                        <div class="state_fail">@item.Text</div>
                        break;
                }
            </td>
        </tr>
    }
    <tr>
        <td></td>
        <td colspan="2" style="text-align: center">Busy/Total</td>
        <td style="text-align: center"></td>
    </tr>

</table>
