@using Gateway.Web.Models.Controller
@model List<HistoryItem>
@{
    var items = (List<HistoryItem>)Model;
    var direction = ViewBag.SortDirection;
    var controller = (string)ViewBag.Controller;
    var action = (string)ViewBag.Action ?? "History";
}

<table style="width: 100%; white-space: nowrap" class="datatable table">
    <thead>
        <tr>
            <td>
                <b>
                    @Html.ActionLink("Controller", action, controller, new { sortOrder = "controller" + direction }, new { @class = "clickableheader" })
                    @if (ViewBag.SortColumn == "controller")
                    {
                        <span class="glyphicon glyphicon-arrow-up"></span>
                    }
                    @if (ViewBag.SortColumn == "controller_desc")
                    {
                        <span class="glyphicon glyphicon-arrow-down"></span>
                    }
                </b>
            </td>
            <td>
                <b>
                    @Html.ActionLink("Version", action, controller, new { sortOrder = "version" + direction }, new { @class = "clickableheader" })
                    @if (ViewBag.SortColumn == "version")
                    {
                        <span class="glyphicon glyphicon-arrow-up"></span>
                    }
                    @if (ViewBag.SortColumn == "version_desc")
                    {
                        <span class="glyphicon glyphicon-arrow-down"></span>
                    }
                </b>
            </td>
            <td>
                <b>
                    @Html.ActionLink("User", action, controller, new { sortOrder = "user" + direction }, new { @class = "clickableheader" })
                    @if (ViewBag.SortColumn == "user")
                    {
                        <span class="glyphicon glyphicon-arrow-up"></span>
                    }
                    @if (ViewBag.SortColumn == "user_desc")
                    {
                        <span class="glyphicon glyphicon-arrow-down"></span>
                    }
                </b>
            </td>
            <td>
                <b>
                    @Html.ActionLink("Resource", action, controller, new { sortOrder = "resource" + direction }, new { @class = "clickableheader" })
                    @if (ViewBag.SortColumn == "resource")
                    {
                        <span class="glyphicon glyphicon-arrow-up"></span>
                    }
                    @if (ViewBag.SortColumn == "resource_desc")
                    {
                        <span class="glyphicon glyphicon-arrow-down"></span>
                    }
                </b>
            </td>
            <td>
                <b>
                    @Html.ActionLink("Time", action, controller, new { sortOrder = "time" + direction }, new { @class = "clickableheader" })
                    @if (ViewBag.SortColumn == "time")
                    {
                        <span class="glyphicon glyphicon-arrow-up"></span>
                    }
                    @if (ViewBag.SortColumn == "time_desc")
                    {
                        <span class="glyphicon glyphicon-arrow-down"></span>
                    }
                </b>
            </td>
            <td>
                <b>
                    @Html.ActionLink("Time Taken", action, controller, new { sortOrder = "timetaken" + direction }, new { @class = "clickableheader" })
                    @if (ViewBag.SortColumn == "timetaken")
                    {
                        <span class="glyphicon glyphicon-arrow-up"></span>
                    }
                    @if (ViewBag.SortColumn == "timetaken_desc")
                    {
                        <span class="glyphicon glyphicon-arrow-down"></span>
                    }
                </b>
            </td>
            <td>
                <b>
                    @Html.ActionLink("Result", action, controller, new { sortOrder = "result" + direction }, new { @class = "clickableheader" })
                    @if (ViewBag.SortColumn == "result")
                    {
                        <span class="glyphicon glyphicon-arrow-up"></span>
                    }
                    @if (ViewBag.SortColumn == "result_desc")
                    {
                        <span class="glyphicon glyphicon-arrow-down"></span>
                    }
                </b>
            </td>
            @*<td><b>Action</b></td>*@
        </tr>
    </thead>

    @foreach (var history in items)
    {
        <tr data-href="@(Url.Action("Summary", "Request", new { correlationId = history.CorrelationId }))">
            <td>
                <a href="~/Controller/History/@history.Controller" class="hoverlink">@history.Controller</a>
            </td>
            <td>
                <a href="~/Controller/Versions/@history.Controller" class="hoverlink">@history.Version</a>
            </td>
            <td style="max-width: 100px; overflow: hidden; text-overflow: ellipsis;">
                <a href="~/User/History?id=0&login=@history.UserFormatted" class="hoverlink">@history.UserFormatted</a>
            </td>
            <td style="max-width: 200px; overflow: hidden; text-overflow: ellipsis;">
                <div data-toggle="tooltip" title="@history.Resource">
                    @history.Resource
                </div>
            </td>
            <td>@history.StartFormatted</td>
            <td>
                <div style="width: @history.RelativePercentage%; background: rgb(128, 177, 133); overflow: visible;">
                    @history.TimeTakenFormatted
                </div>
            </td>
            <td style="max-width: 200px; overflow: hidden; text-overflow: ellipsis;">
                @if (history.IsComplete)
                {
                    @history.ResultFormatted
                }
                else
                {
                    <div style="color: #F78A09">@history.ResultFormatted</div>
                }
            </td>
        </tr>
    }

</table>