<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Redstone</title>
    @Styles.Render("~/styles/css")
    @Styles.Render("~/styles/charts")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="icon" type="image/x-icon" href="@Url.Content(MvcApplication.FavIcon)" />
    <link rel="shortcut icon" type="image/x-icon" href="@Url.Content(MvcApplication.FavIcon)" />
</head>
<body ng-app="app" style="padding: 5px;">

    @RenderBody()
    
</body>
</html>