<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Redstone</title>
    @Styles.Render("~/styles/css")
    @Styles.Render("~/styles/charts")
    @Styles.Render("~/styles/treetable")
    @Styles.Render("~/styles/calendar")
    @Styles.Render("~/styles/toastr")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="icon" type="image/x-icon" href="@Url.Content(MvcApplication.FavIcon)" />
    <link rel="shortcut icon" type="image/x-icon" href="@Url.Content(MvcApplication.FavIcon)" />
</head>
<body ng-app="app">
    @{ Html.RenderPartial("_NavigationBar"); }

    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/spinner")
    @Scripts.Render("~/bundles/charts")
    @Scripts.Render("~/bundles/datetime")
    @Scripts.Render("~/bundles/customQueueCharts")
    @Scripts.Render("~/bundles/monitoring")
    @Scripts.Render("~/bundles/schedule")
    @Scripts.Render("~/bundles/treetable")
    @Scripts.Render("~/bundles/calendar")
    @Scripts.Render("~/bundles/server-resources")
    @Scripts.Render("~/bundles/toastr") 
    @Scripts.Render("~/bundles/selectAllTable")
    @RenderSection("scripts", false)
</body>
</html>