<div class="navbar-inverse navbar-env navbar-fixed-top">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="@Url.Action("Index", "Home")" class="navbar-brand" style="padding: 0px 10px;">
            <img alt="Redstone" src="@Url.Content(MvcApplication.SiteLogo)" style="height: 46px">
        </a>
    </div>
    <div class="container">
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("Controllers", "Dashboard", "Controllers")</li>
                <li>@Html.ActionLink("Security", "Index", "Security")</li>
                <li>@Html.ActionLink("How To", "HowTo", "Home")</li>
            </ul>

            <div class="navbar-right user-info">
                <small>
                    @{

                        var identity = User.Identity;
                        if (identity != null && identity.IsAuthenticated)
                        {
                            string loggedinuser = identity.Name;
                            <b>@loggedinuser</b>
                            @Html.ActionLink("Logout", "LogOff", "Home")
                        }
                        else
                        {
                            <b>Unknown User</b>
                        }
                    }
                </small>
                <br />
                <small style="font-size: 75%;">@DateTime.Now</small>
            </div>
        </div>
    </div>
</div>