@using Gateway.Web.Utils
<div class="navbar-inverse navbar-env navbar-fixed-top">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="@Url.Action("Index", "Home")" class="navbar-brand" style="padding: 0px 10px;">
            <img alt="Redstone" src="@Url.Content(MvcApplication.SiteLogo)" style="height: 46px">
        </a>
    </div>
    <div class="container">
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Controllers <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Controllers", "Dashboard", "Controllers")</li>
                        <li>@Html.ActionLink("Queues", "Queues", "Controllers")</li>
                        <li>@Html.ActionLink("History", "History", "Controllers")</li>
                        <li>@Html.ActionLink("Actions", "Actions", "Controllers")</li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Reports <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Risk Data", "RiskReports", "Monitoring")</li>
                        <li>@Html.ActionLink("Infrastructure", "Workers", "Controllers")</li>
                        <li>@Html.ActionLink("Configuration", "Aliases", "Controllers")</li>
                        <li>@Html.ActionLink("Usage", "UsageReport", "Controllers")</li>
                        <li>@Html.ActionLink("Security", "Reports/Audit", "Security")</li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Security <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Groups", "Groups", "Security")</li>
                        <li>@Html.ActionLink("Users", "Users", "Security")</li>
                        <li>@Html.ActionLink("Applications", "AddIns", "Security")</li>
                        <li>@Html.ActionLink("Permissions", "Permissions", "Security")</li>
                        <li>@Html.ActionLink("Links", "Links", "Security")</li>
                        <li>@Html.ActionLink("BusinessFunctions", "BusinessFunctions", "Security")</li>
                        <li>@Html.ActionLink("Group Types", "GroupTypes", "Security")</li>
                    </ul>
                </li>
                @*<li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Releases <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Current Release", "Current", "Releases")</li>
                        <li>@Html.ActionLink("Historical Releases", "Historical", "Releases")</li>
                    </ul>
                </li>*@
            </ul>

            <div class="pull-right">
                <small style="font-size: 75%;">@DateTime.Now&nbsp;</small>
                <small style="font-size: 75%;">(ver @VersionUtils.CurrentVersion)&nbsp;</small>
                <br />
                <small>
                    @{
                        var identity = User.Identity;
                        if (identity != null && identity.IsAuthenticated)
                        {
                            string loggedinuser = identity.Name;
                            <b>@loggedinuser</b>
                            @Html.ActionLink(" ", "LogOff", "Home", null, new { @class = "text-center glyphicon glyphicon-log-out" })
                        }
                        else
                        {
                            <b>Unknown User</b>
                        }
                    }
                </small>
            </div>
        </div>
    </div>
</div>