<!-- Sidebar -->
<div id="sidebar-wrapper">
    <br />
    <div style="margin-left: 10px; height: 50px">
        <div style="float: left">
            <img class="sidebar-img" src="@Url.Content(MvcApplication.ControllerIcon)" style="height: 48px">
        </div>
        <div style="float: left; margin-top: 5px">
            <span class="sidebar-title">@ViewBag.Title</span><br/>
            <span class="sidebar-subtitle">@ViewBag.Current</span>
        </div>
    </div>

    <div class="sidebar-navheader">
        <strong>DETAILS</strong>
    </div>

    <ul class="sidebar-nav">
        <li>
            <a href="~/Request/Summary?correlationId=@Model.CorrelationId"
               class="@(ViewBag.Current == "Summary" ? "active" : "")">
                <span class="glyphicon glyphicon-transfer"></span>&nbsp;&nbsp;Summary
            </a>
        </li>
        <li>
            <a href="~/Request/Payloads?correlationId=@Model.CorrelationId"
               class="@(ViewBag.Current == "Payloads" ? "active" : "")">
                <span class="glyphicon glyphicon-transfer"></span>&nbsp;&nbsp;Payloads
            </a>
        </li>
        <li>
            <a href="~/Request/Children?correlationId=@Model.CorrelationId"
               class="@(ViewBag.Current == "Children" ? "active" : "")">
                <span class="glyphicon glyphicon-transfer"></span>&nbsp;&nbsp;Children
            </a>
        </li>
        <li>
            <a href="~/Request/Timings?correlationId=@Model.CorrelationId"
               class="@(ViewBag.Current == "Timings" ? "active" : "")">
                <span class="glyphicon glyphicon-transfer"></span>&nbsp;&nbsp;Timings
            </a>
        </li>
        <li>
            &nbsp;
        </li>
    </ul>

    <div class="sidebar-navheader">
        <strong>NAVIGATION</strong>
    </div>

    <ul class="sidebar-nav">
        <li>
            <a href="@Url.Action("ReturnToHistory", "Home")" class="hoverlink">
                <span class="glyphicon glyphicon-circle-arrow-left"></span>&nbsp;&nbsp; Return
            </a>
        </li>
    </ul>
</div>
<!-- /#sidebar-wrapper -->