<!-- Sidebar -->
<div id="sidebar-wrapper">
    <br />
    <div>
        <img class="profileimg" src="@Url.Content("~/Content/img/controller.png")" style="height: 36px">
        <b class="profilename">@ViewBag.Title</b>
    </div>

    <ul class="sidebar-nav">
        <li>
            <a href="~/Request/Summary?correlationId=@Model.CorrelationId"
               class="@(ViewBag.Current == "Summary" ? "active" : "")">
                <span class="glyphicon glyphicon-transfer"></span>&nbsp;&nbsp;Summary
            </a>
        </li>
        <li>
            <a href="~/Request/Payloads?correlationId=@Model.CorrelationId"
               class="@(ViewBag.Current == "Payloads" ? "active" : "")">
                <span class="glyphicon glyphicon-transfer"></span>&nbsp;&nbsp;Payloads
            </a>
        </li>        
        <li>
            <a href="~/Request/Children?correlationId=@Model.CorrelationId"
               class="@(ViewBag.Current == "Children" ? "active" : "")">
                <span class="glyphicon glyphicon-transfer"></span>&nbsp;&nbsp;Children
            </a>
        </li>
        <li>
            <a href="~/Request/Timings?correlationId=@Model.CorrelationId"
               class="@(ViewBag.Current == "Timings" ? "active" : "")">
                <span class="glyphicon glyphicon-transfer"></span>&nbsp;&nbsp;Timings
            </a>
        </li>
        <li>
            &nbsp;
        </li>
        <li>
            <a href="@Url.Action("ReturnToHistory", "Home")" class="hoverlink" style="color: yellow">
                <span class="glyphicon glyphicon-circle-arrow-left"></span>&nbsp;&nbsp; Return
            </a>
        </li>
    </ul>
</div>
<!-- /#sidebar-wrapper -->