@model Gateway.Web.Models.Controller.ServiceModel

<div id="page-content-wrapper">
    <h3 class="text-lowercase">
        Workers for @Model.Name
    </h3>
    <br />
    <div>
        <div class="container-fluid alert alert-redstone">
            <div class="col-sm-offset-1 col-sm-1">Version</div>
            <div class="col-sm-2 text-center">Server</div>
            <div class="col-sm-1 text-center">PID</div>
            <div class="col-sm-1 text-center">Status</div>
            <div class="col-sm-2 text-center">Last Updated</div> 
            <div class="col-sm-2 text-center">In Progress</div>
            <div class="col-sm-offset-11">

                <div class="col-sm-3">
                    <a class="btn btn-success btn-xs glyphicon glyphicon-plus" title="Request new workers"
                       data-target=".add-modal"
                       data-toggle="modal"></a>
                </div>
                <div class="col-sm-3">
                    <a href="~/Controllers/ShutDownWorkers/?controllername=@Model.Name" title="Shutdown all workers" class="@(Model.Services != null ? "block" : "hidden")">
                        <span class="btn btn-warning btn-xs glyphicon glyphicon-remove"></span>
                    </a>
                </div>
                <div class="col-sm-3">
                    <a href="~/Controllers/KillWorkers/?controllername=@Model.Name" title="Kill all workers" class="@(Model.Services != null ? "block" : "hidden")">
                        <span class="btn btn-danger btn-xs glyphicon glyphicon-remove"></span>
                    </a>
                </div>

            </div>           
        </div>

        @foreach (var item in @Model.Services)
        {
            <div class="container-fluid alert alert-success"
                 style="padding: 5px; margin-top: 0.1em; margin-bottom: 0.1em;"
                 role="alert">
                <div class="col-sm-offset-1 col-sm-1">@item.Version</div>
                <div class="col-sm-2 text-center">@item.Server</div>
                <div class="col-sm-1 text-center">@item.PID</div>
                <div class="col-sm-1 text-center">@item.Status</div>
                <div class="col-sm-2 text-center">@item.LastUpdate</div>
                <div class="col-sm-2 text-center">@item.InProgressId</div>
                <div class="col-sm-offset-11">
                    <div class="col-sm-3 col-sm-offset-5">
                        <a href="~/Controllers/ShutdownWorker/?controllername=@item.Controller&version=@item.Version&pid=@item.PID" title="Shutdown">
                            <small class="btn btn-warning btn-xs glyphicon glyphicon-remove pull-right"></small>
                        </a>
                    </div>
                    <div class="col-sm-3">
                        <a href="~/Controllers/KillWorker/?controllername=@item.Controller&version=@item.Version&pid=@item.PID" title="Kill">
                            <small class="btn btn-danger btn-xs glyphicon glyphicon-remove pull-right"></small>
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>

    @using (Html.BeginForm("RequestWorkers", "Controller", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        <div class="modal fade add-modal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
               <div class="modal-content">
                   <div class="modal-header">
                       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                           <span aria-hidden="true">&times;</span>
                       </button>
                       <h4 class="modal-title" id="myModalLabel">Request Workers</h4>
                   </div>
                   <div class="modal-body">
                       @Html.AntiForgeryToken()

                       <!-- Hidden Id Field -->
                       @Html.TextBox("_controllerName", Model.Name, new { @class = "form-control", @style = "display:none" })

                       <div class="container-fluid">
                           <div class="row">
                               <div class="col-md-2">
                                   <label class="control-label">Version</label>
                               </div>
                               <div class="col-md-4">
                                   @Html.DropDownList("_version", Model.Versions, new { @class = "form-control" })
                               </div>
                           </div>
                           <div class="row">
                               <div class="col-md-2">
                                   <label class="control-label">Instances</label>
                               </div>
                               <div class="col-md-4">
                                   @Html.TextBox("_instances", "", new { @type = "number", @class = "form-control", @min = "0" })
                               </div>
                           </div>
                       </div>
                   </div>
                   <div class="modal-footer">
                       <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>   
                       <button type="submit" class="btn btn-default" >Request</button>
                    </div>
               </div>
            </div>
        </div>
    }
</div>