@using Gateway.Web.Utils
@model Gateway.Web.Models.Export.ExportSchedularViewModel

@{
    Layout = "~/Views/Shared/_Layout.NoFooter.cshtml";
    ViewBag.Title = "Configuration";
    ViewBag.Current = "Export Schedule";
}
@{ Html.RenderPartial("_ExportConfigNav"); }

<style>
    .status-Succeeded
    {        
        color: green;
    }
    .status-Not-Started {
        color: orange;
    }

    .status-Failed {
        color: red;
    }
    .status-Processing {
        color: orange;
    }
</style>
<div id="page-content-wrapper">
    <div class="hero-unit">

        <div class="row">
            <div class="col-sm-6">
                <h3 class="text-lowercase">
                    Schedule <small id="businessDate" data-date="@Model.BusinessDate.ToString("yyyy-MM-dd")">@Model.BusinessDate.ToString("yyyy-MM-dd")</small>
                </h3>
            </div>
            <div class="col-sm-6">
                <a href="~/ExportSchedule/Update"
                   class="btn btn-default pull-right m-t-15">
                    Create Export
                </a>
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-12">
                <div id="paginator" data-current-date="@Model.BusinessDate.ToString("yyyy-MM-dd")"></div>
            </div>
        </div>
        
        <div class="row m-t-15">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <input type="hidden" id="pollResults" value="true" />
                @if (!Model.ExportCrons.Any())
                {
                    <div style="text-align: center">
                        <h4>There are no tasks scheduled for <b>@Model.BusinessDate.ToString("yyyy-MM-dd")</b></h4>
                    </div>
                }
                else
                {
                    foreach (var batch in Model.ExportCrons)
                    {
                        <div class="panel panel-primary" style="border-color: #990505">
                            <div class="panel-heading" style="background: #990505; border-color: #990505">
                                @batch.GroupName
                                @*<button type="button" class="btn btn-default btn-xs pull-right" style="margin: 0 !important" onclick="rerunTask('@url')" id="runall-@batch.GroupId">Rerun All</button>
                                <button type="button" class="btn btn-default btn-xs pull-right" style="margin: 0 !important" onclick="stopTask('@urlStop')" id="stopall-@batch.GroupId">Stop All</button>*@
                            </div>
                            <div class="panel-body" id="batch-group-view-batch.GroupId">
                                <div class="row" style="padding-left: 15px; padding-right: 15px;">
                                    @if (batch.FileExports.Any())
                                    {
                                        <table class="batch-table" style="width: 100%; border: none !important;">
                                            @foreach (var item in batch.FileExports)
                                            {
                                            <tr title="@item.Name" class="batch-schedule-container" style="padding: 20px !important;">
                                                <td style="width: 40%;">
                                                    @if (item.Type.ToLower() == "request")
                                                    {
                                                        <span class="label label-danger" style="padding: 2px !important;">@item.Type</span>
                                                    }
                                                    else if (item.Type.ToLower() == "executable")
                                                    {
                                                        <span class="label label-warning" style="padding: 2px !important;">@item.Type</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="label label-info" style="padding: 2px !important;">@item.Type</span>
                                                    }
                                                    <span class="m-l-5" style="margin-top: 2px">
                                                        @item.Name.Truncate(45)
                                                    </span>
                                                </td>
                                                <td style="width: 20%;">
                                                    <span>&nbsp;</span>
                                                </td>
                                                <td style="width: 20%;">
                                                    @if (@item.Status == "Succeeded")
                                                    {
                                                        <span class="glyphicon glyphicon-ok status-@item.Status.Replace(' ', '-')"></span>
                                                    }
                                                    else if (@item.Status == "Failed")
                                                    {
                                                        <span class="glyphicon glyphicon-remove status-@item.Status.Replace(' ', '-')"></span>
                                                    }
                                                    else { 
                                                    <span class="glyphicon glyphicon-hourglass status-@item.Status.Replace(' ', '-')"></span>
                                                    }
                                                    <span class="status-@item.Status.Replace(' ', '-')">@item.Status</span>

                                                </td>
                                                <td style="width: 10%;">
                                                    <div class="btn-group btn-group-xs pull-right"> 
                                                        <button type="button" class="btn btn-default" style="margin: 0 !important">Rerun</button>
                                                        <button type="button" class="btn btn-default dropdown-toggle" style="margin: 0 !important; border-left: 0 !important" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            ...
                                                        </button>
                                                        <ul class="dropdown-menu">
                                                             
                                                                <li>
                                                                    <a target="_blank" >Rerun custom...</a>
                                                                </li>
                                                                <li>
                                                                    <a target="_blank"  >View History</a>
                                                                </li>
                                                           
                                                            <li role="separator" class="divider"></li>
                                                            <li>
                                                                <a href="~/ExportSchedule/Update?Id=@item.ExportId" >
                                                                    Edit
                                                                </a>
                                                            </li>

                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                            }
                               
                                        </table>
                                    }
                                    </div>
                            </div>
                        </div>
                    }
                }
            </div>
         </div>
    </div>
</div>